#users {
    display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


/*
tr:nth-child(even) {
background-color: #dddddd;
}*/

form {
    padding: 1%;
}

.form-item {
    margin: 1%;
}

.inner-items {
    margin: 1% 1% 1% 0;
}

#grouped-logins tbody tr:hover {
    background-color: green;
    color: white;
}

#grouped-logins tbody tr.opened {
    background-color: cadetblue;
}

.form-bottom {
    padding: 10px;
}

span.submit {
    border: 1px silver solid;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

#grouped-logins table td div.last_login {
    padding: 1%;
}

[type="text"],
[type="password"],
[type="number"],
textarea,
select {
    width: auto;
    display: inherit;
}

.select2-search-field input {
    min-width: 150px !important;
}

#grouped-logins tbody tr:hover {
    background-color: #f3f3f3;
    color: #000000;
}

.OdooDashboardTableWrapper span.form-item {
    font-weight: bold;
}

.OdooDashboardEditTableWrapper {
    background: #f3f3f3;
    margin: -24px -16px 30px;
    padding: 16px;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

.OdooDashboardEditTableWrapper .form-bottom {
    padding: 10px 0;
}

.OdooDashboardEditTableWrapper .form-item:nth-child(1) {
    padding: 0;
    margin: 0 1% 0 0;
}

.OdooDashboardEditTableWrapper select,
.OdooDashboardEditTableWrapper input {
    padding: 5px;
}

.OdooDashboardEditTableWrapper span.submit {
    border: 1px solid #7c7bad;
    padding: 7px;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
}

#grouped-logins table {
    margin-top: 15px;
}

#grouped-logins table thead {
    background:#eeeeee;
}

#grouped-logins table tbody tr td button {
    border: 1px solid #7c7bad;
    padding: 7px;
    border-radius: 0;
    color: white;
    background-color: #7c7bad;
    cursor: pointer;
    min-width: 120px;
}
#grouped-logins table tbody tr td button:hover {
    color: white;
    background-color: #5f5e97;
    }


@media (max-width: 480px) {

.OdooDashboardTableWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.OdooDashboardEditTableWrapper .form-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

 span#duration-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.OdooDashboardEditTableWrapper select, input#duration {
    width: 100%;
}

.OdooDashboardEditTableWrapper span.form-item span.inner-items {
    display: flex;
    flex-direction: column;
}

}
