<app-breadcrumb app="meetings" model="event" 
*ngIf="meeting_type == 'upcoming' || meeting_type == 'draft' || meeting_type == 'ongoing'"
rid="{{meeting_object.id}}" edit="1" delete="1" 
routes='[{"title":"{{meeting_type}} Meetings", "link":"/meetings/{{meeting_type}}"}]'
title="{{meeting_object.name}}"></app-breadcrumb>
<app-breadcrumb app="meetings" model="event" 
*ngIf="meeting_type == 'archive' || meeting_type == 'completed'"
routes='[{"title":"{{meeting_type}} Meetings", "link":"/meetings/{{meeting_type}}"}]'
title="{{meeting_object.name}}"></app-breadcrumb>

<div class="router-outlet">
    <div class="page-links">
        <span class="prev next-prev-link" title="Privious">
            <i class="fa fa-angle-left"></i>
        </span>
        <span class="next next-prev-link" title="Next">
            <i class="fa fa-angle-right"></i>
        </span>
    </div>
    <div class="container" *ngIf="meeting_object">            
        <div class=" form-details">
                <div class="meeting-details-form">
                <div class="MainTitleHeadWrap" style="flex-wrap: wrap">
                    <div class="HeadingWrap">
                        <img src="static/assets/images/meeting-icon.png" alt="" /> {{meeting_object.name}}
                        <div class="d-flex my-2">
                            <div class="row note" *ngIf="conference_not_active">
                                Meeting conference URL will be available 15 minutes before meeting start.
                            </div>
                            <div *ngIf="0" class="" style="justify-content:flex-end;">
                                <span *ngIf="title === 'Completed'" class="badge badge-success">{{title}}</span>
                                <span *ngIf="title === 'Archived'" class="badge badge-danger">{{title}}</span>
                                <span *ngIf="title === 'Upcoming'" class="badge badge-warning">{{title}}</span>
                            </div>
                            <div *ngIf="(meeting_type && meeting_type == 'upcoming' || meeting_type == 'draft')" class="mb-2">
                                <button class="check-status meet-elements position-relative"
                                    (click)="on_publish_changed($event)"
                                    [ngClass]="meeting_status">
                                    <span class="circle"><i class="fa fa-circle"></i></span>
                                    <span class="status">{{meeting_status}}</span>
                                </button>
                            </div>
                            <div *ngIf="meeting_object && meeting_object.attendance_marked == true && meeting_type && meeting_type == 'completed'">
                                <button class="btn btn-meeting btn-archive" (click)="move_to_archive(meeting_object.id)">
                                    <span name="archive">Move to Archive</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    
                    <div class="d-flex">
                        <div class="MeetingBtnWrapper" id="tdmrb{{meeting_object.id}}">
                            <div class="ChoseButtonHeadWrap" *ngIf="me_as_respondant && meeting_type == 'upcoming'">
                                <app-meetingresponse my_event="{{meeting_object.my_event}}" class="meeting-detail" meeting_id="{{meeting_object.id}}" attendee_status="{{meeting_object.attendee_status}}" ></app-meetingresponse>
                            </div>
                        </div>
                    </div>                    
				</div>

                <div class="div1">

                    <div class="row">
                        <div *ngIf="me && me.state" class="col-md-4">
                            <div class="meet-elements">
                                My Status
                            </div>
                            <label class="meet-elementsInfo">
                                {{me.state}}
                            </label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div *ngIf="meeting_object.start" class="col-md-6">
                            <div class="meet-elements">
                                Start Date & Time
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.start | date:'medium' }}
                            </label>
                        </div>

                        <div *ngIf="meeting_object.stop" class="col-md-6">
                            <div class="meet-elements">
                                End Date & Time
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.stop | date:'medium'}}
                            </label>
                        </div>
                        <div *ngIf="meeting_object.duration" class="col-md-6">
                            <div class="meet-elements">
                                Duration
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.duration}}
                            </label>
                        </div>

                        <div  *ngIf="meeting_object.video_call_link" class="col-md-6">
                            <div class="meet-elements">
                                Video Call Link
                            </div>
                            <label class="meet-elementsInfo">
                                <a target="__blank" href="{{meeting_object.video_call_link}}">{{meeting_object.video_call_link}}</a>
                            </label>
                        </div>

                        <div *ngIf="meeting_object.conference_bridge_number" class="col-md-6">
                            <div class="meet-elements">
                                Conference Bridge Number
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.conference_bridge_number}}
                            </label>
                        </div>

                        <div *ngIf="meeting_object.pin" class="col-md-6">
                            <div class="meet-elements">
                                Meeting Pin
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.pin}}
                            </label>
                        </div>

                        <div *ngIf="meeting_object.city" class="col-md-6">
                            <div class="meet-elements">
                                City
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.city}}
                            </label>
                        </div>

                        <div *ngIf="meeting_object.state" class="col-md-6">
                            <div class="meet-elements">
                                State
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.state}}
                            </label>
                        </div>

                        <div *ngIf="meeting_object.zip" class="col-md-6">
                            <div class="meet-elements">
                                Zip Code
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.zip}}
                            </label>
                        </div>

                        <div *ngIf="meeting_object.country" class="col-md-6">
                            <div class="meet-elements">
                                Country
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.country}}
                            </label>
                        </div>
                        <div *ngIf="meeting_object.location" class="col-md-6">
                            <div class="meet-elements">
                                Location
                            </div>
                            <label class="meet-elementsInfo">
                                {{meeting_object.location}}
                            </label>
                        </div>

                        <div  *ngIf="meeting_object.description" class="col-md-12">
                            <div class="meet-elements">
                                Description
                            </div>
                            <label class="meet-elementsInfo text-overflow-visible" [innerHtml]="meeting_object.description"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.topics && meeting_object.topics.length" class="title-wrapper">
            <div class="modal-header">
                <div><i class="icon-doc-file"></i> Agenda Topics </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table boardsheet-table">
                        <thead class="thead-light">
                        <tr>
                            <th>Title</th>
                            <th>Lead</th>
                            <th>Duration</th>
                            <th>Attachment</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor:pointer" routerLink="/topic/{{topic.id}}" *ngFor="let topic of meeting_object.topics">
                                <td>{{topic.name}}</td>
                                <td>{{topic.lead}}</td>
                                <td >{{topic.duration}}</td>
                                <td>
                                    <div class="talbe-docs-wrapper">
                                        <div *ngIf="topic.docs && topic.docs.length && topic.docs.length > 0">
                                            <i class="fa fa-file"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.attendees && meeting_object.attendees.length" class="meeting-details-roster title-wrapper">
            
            <!-- <button class="btn btn-primary" (click)="open_django(meeting_object.id)">Mark Attendance</button> -->
            <button class="btn btn-primary btn-meeting" (click)="open_roster()">Rosters</button>
            <div class="roster-full">
                <app-roster meeting_id="{{meeting_object.id}}"></app-roster>
            </div>
            <div class="modal-header btn-meeting" *ngIf="meeting_object.inline_roster">
                Roster
            </div>
            <div class="row" *ngIf="meeting_object.inline_roster">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4" *ngFor="let profile of meeting_object.attendees">
                    <div class="kanban-card">
                        <a routerLink="/{{profile.group}}/{{profile.id}}" class="kanban-profiles-user-info-box">
                            <div class="kanban-profiles-user-img">
                                <img class="img-thumbnail-md" alt='N/A' src="{{socketService.server_url}}{{profile.photo}}">
                            </div>
                            <div class="kanban-profiles-user-info">
                                <div class="kanban-profiles-user-InfoLIST">
                                    {{profile.name}}
                                </div>
                                <div *ngIf="profile.company" class="kanban-profiles-user-InfoLIST">
                                    <i class="fas fa-users"></i>
                                    <span >
                                        {{profile.company}}
                                    </span>
                                </div>
                                <div *ngIf="profile.mobile_phone" class="kanban-profiles-user-InfoLIST">
                                    <i class="fas fa-phone"></i>
                                    <span >
                                        {{profile.mobile_phone}}
                                    </span>
                                </div>
                                <div *ngIf="profile.response_by">Response By: {{profile.response_by}}</div>
                                <div *ngIf="profile.state" class="">
                                    <b>Status : </b> {{profile.state}}
                                </div>
                                <div *ngIf="profile.email" class="kanban-profiles-user-InfoLIST">
                                    <i class="fas fa-envelope"></i>
                                    <span>
                                        {{profile.email}}
                                    </span>
                                </div>
								<div class="">
                                    <b>Attendace : </b> Absent
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.surveys.length || meeting_object.votings.length || meeting_object.sign_docs.length">
            <h3 class="mt-3 attachedActions">Attached Actions</h3>
        </div>

        <div *ngIf="meeting_object.surveys && meeting_object.surveys.length" class="title-wrapper border-bottom">
            <!--Surveys-->
            <div class="clearfix">
                <h4 class="text-primary float-left">Surveys</h4>
                <div class="controls-top float-right btn-group mb-2" *ngIf="meeting_object.surveys.length > visible_limit['survey']">
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(-1,meeting_object.surveys, 'survey')" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(1, meeting_object.surveys, 'survey')" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-lg-4 mb-4" *ngFor="let sur of meeting_object.surveys.slice(start_indices['survey'], ending_indices['survey'])">
                    <div class="kanban-card position-relative">
                        <div class="kanban-meeting-info">
                            <div class="kanban-upcoming-meeting" routerLink="/survey/{{sur.id}}">
                                <div *ngIf="sur.open_date" class="CalendarDateWrapper">
                                    <span class="CalendarDateWrap">
                                        <span class="kanban-upcoming-meeting-date">
                                            {{sur.open_date.day}}
                                        </span>
                                            <span>
                                            {{sur.open_date.month_year}}
                                        </span>
                                        <span>
                                            {{sur.open_date.time}}
                                        </span>
                                    </span>
                                </div>
                                <div class="Info">
                                    <p class="text-truncate" *ngIf="sur.name">
                                        <b>{{sur.name}}</b>
                                    </p>
                                    <span class=" text-truncate" *ngIf="sur.description">
                                        Description: {{sur.description}}
                                    </span>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between">
                                <div class="col">
                                    <div class="bs-btnwrap survey-top-buttons" routerLink="/survey/{{sur.id}}" [ngStyle]="{'background': '#f3f3f3'}">
                                        <a *ngIf = "sur.my_status == 'pending'" class="btn text-white">Start Survey</a>
                                        <a *ngIf = "sur.my_status == 'done'" class="btn text-white">Survey Results</a>
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.votings && meeting_object.votings.length" class="title-wrapper border-bottom">
            <!--Votings-->
            
                <div class="clearfix mt-3">
                    <h4 class="text-primary float-left">Approval/Voting</h4>
                    <div class="controls-top float-right btn-group mb-2" *ngIf="meeting_object.votings.length > visible_limit['voting']">
                        <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(-1,meeting_object.votings, 'voting')" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(1, meeting_object.votings, 'voting')" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
	
            <div class="row">
                <div class="col col-md-6 col-lg-4 mb-4" *ngFor="let vote of meeting_object.votings.slice(start_indices['voting'], ending_indices['voting'])">
                    <div class="kanban-card position-relative">
                        <div class="kanban-meeting-info">
                            <div class="kanban-upcoming-meeting" routerLink="/voting/{{vote.id}}">
                                <div *ngIf="vote.open_date" class="CalendarDateWrapper">
                                    <span class="CalendarDateWrap">
                                        <span class="kanban-upcoming-meeting-date">
                                            {{vote.open_date.day}}
                                        </span>
                                            <span>
                                            {{vote.open_date.month_year}}
                                        </span>
                                        <span>
                                            {{vote.open_date.time}}
                                        </span>
                                    </span>
                                </div>
                                <div class="Info">
                                    <p class="text-truncate" *ngIf="vote.name">
                                        <b>{{vote.name}}</b>                                        
                                    </p>
                                    <span *ngIf="vote.voting_type__name">
                                        <strong>Voting Type: </strong>{{vote.voting_type__name}}
                                    </span>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between">
                                <div class="col">
                                    <div class="bs-btnwrap survey-top-buttons" routerLink="/voting/{{vote.id}}" [ngStyle]="{'background': '#f3f3f3'}">
                                        <span *ngIf = "vote.my_status != 'pending'" class="btn text-white">Results</span>
                                        <span *ngIf = "vote.my_status == 'pending'" class="btn text-white">Start</span>
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>

        <div class="title-wrapper border-bottom">
            <div class="clearfix mt-3">
                <h4 class="my-3 text-primary float-left"><i class="icon-doc-file"></i> Meeting Documents </h4>
                <div class="controls-top float-right btn-group mb-2" *ngIf="meeting_object.meeting_docs.length > visible_limit['news_doc']">
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(-1,meeting_object.meeting_docs, 'news_doc')" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(1, meeting_object.meeting_docs, 'news_doc')" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <app-documents parent_model="Event" parent_field="meeting_id" parent_id="{{meeting_object.id}}" res_app="meetings" res_model="MeetingDocument"></app-documents>
        </div>

        
        <!-- <div *ngIf="meeting_object.meeting_docs && meeting_object.meeting_docs.length" class="title-wrapper border-bottom">
            <div class="clearfix mt-3">
                <h4 class="my-3 text-primary float-left"><i class="icon-doc-file"></i> Meeting Documents </h4>
                <div class="controls-top float-right btn-group mb-2" *ngIf="meeting_object.meeting_docs.length > visible_limit['news_doc']">
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(-1,meeting_object.meeting_docs, 'news_doc')" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(1, meeting_object.meeting_docs, 'news_doc')" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let doc of meeting_object.meeting_docs.slice(start_indices['news_doc'], ending_indices['news_doc'])">
                    <a routerLink="/meeting/doc/{{doc.id}}" class="DocumentWrapper gray-bge">
						<div class="DocIcon">
							<span class="rounded-circle">
								<i class="icon-doc-file"></i>
							</span>
						</div>
                        <div class="DocInfoVertical text-truncate">
                            {{doc.name}}
                        </div>
                    </a>
                </div>
            </div>
        </div> -->

        <div *ngIf="attachments.length > 0" class="chat-selectBox" id="attach_modal">
            <div class="call_container ">
                <form>
                <div *ngFor="let doc of attachments; let i = index" contenteditable="false"
                    class="doc-thumb" style="display: flex;">
                    <span class="doc-thumb-icon"><i class="fa fa-2x fa-file"></i></span>
                    <div>
                        <input type="text" name="attachment_name"
                        (click)="$event.target.select()" value="{{doc.name}}" (change)="doc_name_change(doc, $event)"/>
                    </div>
                    <span class="doc-thumb-close" (click)="remove_attachment($event)">
                        <i class="del fas fa-times-circle"></i>
                    </span>
                </div>
            </form>
            </div>
        </div>

        <div *ngIf="meeting_type && meeting_type == 'completed'" class="input-group mr-2 border-bottom pb-3">
            
                <form class="input-group-text attach_btn btn btn-meeting" (click)="attach_btn_click($event)">
                    <input (change)="file_change($event)" id="msg_file" type="file"
                        accept=".pdf,.doc,.docx,.ppt"
                        multiple
                        style="display:none"
                    />
                    <i class="fas fa-paperclip"></i> <span class="ml-2">Attach Meeting Documents</span>
                </form>

            <div class="ml-2">
                <button class="btn btn-meeting" (click)="upload_doucments()">
                <span>Upload Attached Documents</span>
            </button>
            </div>
        </div>

        <div *ngIf="meeting_object.sign_docs && meeting_object.sign_docs.length" class="DocumentsSignWrapper title-wrapper border-bottom">
            <div class="clearfix mt-3">
                <h4 class="my-3 text-primary float-left">
                    Documents To Sign
                </h4>
                <div class="controls-top float-right btn-group mb-2" *ngIf="meeting_object.sign_docs.length > visible_limit['sign_doc']">
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(-1,meeting_object.sign_docs, 'sign_doc')" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating btn btn-sm btn-primary text-white" (click)="get_slider_start_index(1, meeting_object.sign_docs, 'sign_doc')" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
			<div class="row docwrappercontainer">
				<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let doc of meeting_object.sign_docs.slice(start_indices['sign_doc'], ending_indices['sign_doc'])">
					<a routerLink="/signdoc/{{doc.id}}" class="">
						<div class="DocumentWrapper">
							<div class="DocIcon">
								<span class="rounded-circle">
									<i class="icon-doc-file"></i>
								</span>
							</div>
							<div class="DocText">
								<div class="DocName text-truncate">
									<h5 class="text-truncate">{{doc.name}}</h5>
								</div>
								<div class="SignatureText text-truncate font-11">
									<span>Status: </span>
									<span class="pending-status">{{doc.signature_status}}</span>
								</div>
							</div>
						</div>
					</a>
                </div>
            </div>
        </div>
        <app-comments *ngIf="is_attendee && meetObjLoaded" res_app="{{discussion_params.app}}" res_model="{{discussion_params.model}}" res_id="{{meeting_object.id}}" [mention_list]="meeting_object.attendees"></app-comments>
    </div>
</div>
