<app-breadcrumb app="meetings" model="event" 
*ngIf="meeting_type == 'upcoming' || meeting_type == 'draft' || meeting_type == 'ongoing'"
rid="{{meeting_object.id}}" edit="1" delete="1" 
routes='[{"title":"{{meeting_type}} Meetings", "link":"/meetings/{{meeting_type}}"}]'
title="{{meeting_object.name}}"></app-breadcrumb>
<app-breadcrumb app="meetings" model="event" 
*ngIf="meeting_type == 'archive' || meeting_type == 'completed'"
routes='[{"title":"{{meeting_type}} Meetings", "link":"/meetings/{{meeting_type}}"}]'
title="{{meeting_object.name}}"></app-breadcrumb>

<div class="router-outlet">
    <div class="page-links">
        <span class="prev next-prev-link" title="Privious">
            <i class="fa fa-angle-left"></i>
        </span>
        <span class="next next-prev-link" title="Next">
            <i class="fa fa-angle-right"></i>
        </span>
    </div>
    <div class="container" *ngIf="meeting_object">            
        <div class=" form-details">
                <div class="meeting-details-form">
                <div class="MainTitleHeadWrap" style="flex-wrap: wrap">
                    <div class="HeadingWrap">
                        <img src="static/assets/images/meeting-icon.png" alt="" /> {{meeting_object.name}}
                        <div class="d-flex my-2">
                            <div class="row note" *ngIf="conference_not_active">
                                Meeting conference URL will be available 15 minutes before meeting start.
                            </div>
                            <div *ngIf="0" class="" style="justify-content:flex-end;">
                                <span *ngIf="title === 'Completed'" class="badge badge-success">{{title}}</span>
                                <span *ngIf="title === 'Archived'" class="badge badge-danger">{{title}}</span>
                                <span *ngIf="title === 'Upcoming'" class="badge badge-warning">{{title}}</span>
                            </div>
                            <div *ngIf="meeting_type && meeting_type == 'upcoming' || meeting_type == 'draft'">
                                <div class="meet-elements">
                                    <span class="d-inline">
                                        Meeting Status
                                    </span>
                                    <div class="custom-control custom-switch d-inline">
                                        <input (change)="on_publish_changed()" type="checkbox" class="toggle_cb custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1"></label>
                                    </div>
                                    <span *ngIf="meeting_status == 'Published'" class="badge badge-success d-inline">{{meeting_status}}</span>
                                    <span *ngIf="meeting_status == 'Unpublished'" class="badge badge-warning d-inline">{{meeting_status}}</span>
                                </div>
                            </div>
                            <div *ngIf="meeting_object && meeting_object.attendance_marked == true && meeting_type && meeting_type == 'completed'">
                                <button class="btn btn-meeting btn-archive" (click)="move_to_archive(meeting_object.id)">
                                    <span name="archive">Move to Archive</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    
                    <div class="d-flex">
                        <div class="MeetingBtnWrapper" id="tdmrb{{meeting_object.id}}">
                            <div class="ChoseButtonHeadWrap" *ngIf="me_as_respondant && meeting_type == 'upcoming'">
                                <app-meetingresponse class="meeting-detail" meeting_id="{{meeting_object.id}}" attendee_status="{{meeting_object.attendee_status}}" ></app-meetingresponse>
                            </div>
                        </div>
                    </div>                    
				</div>

                <div class="div1">

                    <div class="row">
                        <div *ngIf="me && me.state" class="col-md-4">
                            <div class="meet-elements">
                                My Status
                            </div>
                            <label class="meet-elementsInfo">
                                {{me.state}}
                            </label>
                        </div>

                        <!-- <div *ngIf="meeting_object.name" class="col-md-6">
                                <div class="meet-elements">
                                    Meeting Subject
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.name}}
                                </label>
                            </div> -->
                    </div>

<div class="row">
                            <div *ngIf="meeting_object.start" class="col-md-6">
                                    <div class="meet-elements">
                                        Start Date & Time
                                    </div>
                                    <label class="meet-elementsInfo">
                                        {{meeting_object.start | date:'medium' }}
                                    </label>
                                </div>

                                <div *ngIf="meeting_object.stop" class="col-md-6">
                                        <div class="meet-elements">
                                            End Date & Time
                                        </div>
                                        <label class="meet-elementsInfo">
                                            {{meeting_object.stop | date:'medium'}}
                                        </label>
                                    </div>
                                    <div *ngIf="meeting_object.duration" class="col-md-6">
                                            <div class="meet-elements">
                                                Duration
                                            </div>
                                            <label class="meet-elementsInfo">
                                                {{meeting_object.duration}}
                                            </label>
                                        </div>


                    <!-- <div *ngIf="meeting_object.conference_status == 'active'"> -->

                            <div class="col-md-6" *ngIf="meeting_object.video_call_link">
                                <div class="meet-elements">
                                    Video Call Link
                                </div>
                                <label class="meet-elementsInfo">
                                    <a target="__blank" href="{{meeting_object.video_call_link}}">{{meeting_object.video_call_link}}</a>
                                </label>
                            </div>

                            <div class="col-md-6" *ngIf="meeting_object.conference_bridge_number">
                                <div class="meet-elements">
                                    Conference Bridge No.
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.conference_bridge_number}}
                                </label>
                            </div>

                            <div class="col-md-6" *ngIf="meeting_object.pin">
                                <div class="meet-elements">
                                    Meeting PIN
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.pin}}
                                </label>
                            </div>



                            <div *ngIf="meeting_object.location" class="col-md-6">
                                <div class="meet-elements">
                                    Location
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.location}}
                                </label>
                            </div>

                            <div *ngIf="meeting_object.city" class="col-md-6">
                                <div class="meet-elements">
                                    City
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.city}}
                                </label>
                            </div>



                            <div *ngIf="meeting_object.state" class="col-md-6">
                                <div class="meet-elements">
                                    State
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.state}}
                                </label>
                            </div>

                            <div *ngIf="meeting_object.zip" class="col-md-6">
                                <div class="meet-elements">
                                    Zip Code
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.zip}}
                                </label>
                            </div>

                            <div *ngIf="meeting_object.country" class="col-md-6">
                                <div class="meet-elements">
                                    Country
                                </div>
                                <label class="meet-elementsInfo">
                                    {{meeting_object.country}}
                                </label>
                            </div>

							<div  *ngIf="meeting_object.description" class="col-md-12">
								<div class="meet-elements">
									Description
								</div>
								<label class="meet-elementsInfo text-overflow-visible" [innerHtml]="meeting_object.description"></label>
							</div>

</div>







                    <!-- </div> -->
                </div>

                <!-- <h2>Status {{meeting_object.conference_status}}</h2> -->

            </div>
        </div>

        <div *ngIf="meeting_object.topics && meeting_object.topics.length" class="title-wrapper">
            <div class="modal-header">
                <div><i class="icon-doc-file"></i> Agenda Topics </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered boardsheet-table">
                            <thead class="thead-light">
                            <tr>
                                <th>Title</th>
                                <th>Lead</th>
                                <th>Duration</th>
                                <th>Attachment</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor:pointer" routerLink="/topic/{{topic.id}}" *ngFor="let topic of meeting_object.topics">
                                    <td>{{topic.name}}</td>
                                    <td>{{topic.lead}}</td>
                                    <td >{{topic.duration}}</td>
                                    <td>
                                        <div class="talbe-docs-wrapper">
                                            <div *ngIf="topic.docs && topic.docs.length && topic.docs.length > 0">
                                                <i class="fa fa-file"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.attendees && meeting_object.attendees.length" class="meeting-details-roster title-wrapper">
            
            <!-- <button class="btn btn-primary" (click)="open_django(meeting_object.id)">Mark Attendance</button> -->
            <button class="btn btn-primary btn-meeting" (click)="open_roster()">Rosters</button>
            <div class="roster-full">
                <app-roster meeting_id="{{meeting_object.id}}"></app-roster>
            </div>
            <div class="modal-header btn-meeting" *ngIf="meeting_object.inline_roster">
                Roster
            </div>
            <div class="row" *ngIf="meeting_object.inline_roster">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4" *ngFor="let profile of meeting_object.attendees">
                    <div class="kanban-card">
                        <a routerLink="/{{profile.group}}/{{profile.id}}" class="kanban-profiles-user-info-box">
                            <div class="kanban-profiles-user-img">
                                <img class="img-thumbnail-md" alt='N/A' src="{{socketService.server_url}}{{profile.photo}}">
                            </div>
                            <div class="kanban-profiles-user-info">
                                <div class="kanban-profiles-user-InfoLIST">
                                    {{profile.name}}
                                </div>
                                <div *ngIf="profile.company" class="kanban-profiles-user-InfoLIST">
                                    <i class="fas fa-users"></i>
                                    <span >
                                        {{profile.company}}
                                    </span>
                                </div>
                                <div *ngIf="profile.mobile_phone" class="kanban-profiles-user-InfoLIST">
                                    <i class="fas fa-phone"></i>
                                    <span >
                                        {{profile.mobile_phone}}
                                    </span>
                                </div>
                                <div *ngIf="profile.response_by">Response By: {{profile.response_by}}</div>
                                <div *ngIf="profile.state" class="">
                                    <b>Status : </b> {{profile.state}}
                                </div>
                                <div *ngIf="profile.email" class="kanban-profiles-user-InfoLIST">
                                    <i class="fas fa-envelope"></i>
                                    <span>
                                        {{profile.email}}
                                    </span>
                                </div>
								<div class="">
                                    <b>Attendace : </b> Absent
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.surveys && meeting_object.surveys.length" class="title-wrapper">
            <!--Surveys-->
            <div class="modal-header">
                Surveys
            </div>
            <div class="row">
                <div class="kanban-card survey" *ngFor="let sur of meeting_object.surveys">
                    <div class="SurveysInfoBox d-flex flex-wrap justify-content-between align-items-center">
                        <div class="SurveysInfoBoxTitle">
                            <span class="container">
                                <h5>
                                    <b>{{sur.name}}</b>
                                </h5>
                            </span>
                        </div>
                        <div class="">
                            <button class="btn btn-primary" routerLink="/survey/{{sur.id}}">
                                <span *ngIf = "sur.my_status == 'done'">Results</span>
                                <span *ngIf = "sur.my_status == 'pending'">Start</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="meeting_object.votings && meeting_object.votings.length" class="title-wrapper">
            <!--Votings-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-heading">
						<h1>Approval/Voting</h1>
					</div>
                </div>
			</div>
            <div class="row">
				<div class="col-sm-6 col-md-4 mb-4" *ngFor="let vote of meeting_object.votings">
					<div class="kanban-card voting">
						<div class="VotingsInfoBox">
							<div class="VotingsInfoBoxTitle ">
								<h5>
									<b>{{vote.name}}</b>
								</h5>
							</div>
							<div class="bs-btnwrap">
								<button class="btn btn-primary" routerLink="/voting/{{vote.id}}">
									<span *ngIf = "vote.my_status != 'pending'">Results</span>
									<span *ngIf = "vote.my_status == 'pending'">Start</span>
								</button>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

        <div *ngIf="meeting_object.meeting_docs && meeting_object.meeting_docs.length" class="title-wrapper">
            <div class="modal-header">
                <div><i class="icon-doc-file"></i> Meeting Documents </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-2 mb-4" *ngFor="let doc of meeting_object.meeting_docs">
                    <a routerLink="/meeting/doc/{{doc.id}}" class="DocumentWrapper gray-bge" *ngIf="doc && doc.uplaod_status">
						<div class="DocIcon">
							<span class="rounded-circle">
								<i class="icon-doc-file"></i>
							</span>
						</div>
                        <div class="DocInfoVertical text-truncate">
                                {{doc.name}}
                        </div>
                    </a>
                    <a class="DocumentWrapper gray-bge" *ngIf="doc && !doc.uplaod_status">
						<span class="doc-uplaod-status"><i class="fas fa-exclamation-circle"></i></span>
                        <div class="DocIcon">
                            <span class="rounded-circle">
                                <i class="icon-doc-file"></i>
                            </span>
                        </div>
                        <div class="DocInfoVertical text-truncate">
                                {{doc.name}}
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div *ngIf="attachments.length > 0" class="chat-selectBox" id="attach_modal">
            <div class="call_container ">
                <form>
                <div *ngFor="let doc of attachments; let i = index" contenteditable="false"
                    class="doc-thumb" style="display: flex;">
                    <span class="doc-thumb-icon"><i class="fa fa-2x fa-file"></i></span>
                    <!-- <span class="file_name">{{doc.name}}</span> -->
                    <div>
                        <input type="text" name="attachment_name"
                        (click)="$event.target.select()" value="{{doc.name}}" (change)="doc_name_change(doc, $event)"/>
                    </div>
                    <span class="doc-thumb-close" (click)="remove_attachment($event)">
                        <i class="del fas fa-times-circle"></i>
                    </span>
                </div>
            </form>
            </div>
        </div>
        <div *ngIf="meeting_type && meeting_type == 'completed'" class="input-group mt-3 mr-2">
            
                <form class="input-group-text attach_btn btn btn-meeting" (click)="attach_btn_click($event)">
                    <input (change)="file_change($event)" id="msg_file" type="file"
                        accept=".pdf,.doc,.docx,.ppt"
                        multiple
                        style="display:none"
                    />
                    <i class="fas fa-paperclip"></i> <span class="ml-2">Attach Meeting Documents</span>
                </form>

            <div class="ml-2">
                <button class="btn btn-meeting" (click)="upload_doucments()">
                <span>Upload Attached Documents</span>
            </button>
            </div>
        </div>

        <div *ngIf="meeting_object.sign_docs && meeting_object.sign_docs.length" class="DocumentsSignWrapper title-wrapper">
            <div class="modal-header">
                Documents To Sign
            </div>
			<div class="row docwrappercontainer">
				<div class="col-sm-6 col-md-4 col-lg-2 mb-4"   *ngFor="let doc of meeting_object.sign_docs">
					<a routerLink="/signdoc/{{doc.id}}" class="">
						<div class="DocumentWrapper">
							<div class="DocIcon">
								<span class="rounded-circle">
									<i class="icon-doc-file"></i>
								</span>
							</div>
							<div class="DocText">
								<div class="DocName">
									<h5 class="text-truncate">Title: {{doc.name}}</h5>
								</div>
								<div class="SignatureText text-truncate font-11">
									<span>My Signature: </span>
									<span class="pending-status">{{doc.signature_status}}</span>
								</div>
							</div>
						</div>
					</a>
                </div>
            </div>
        </div>
        <app-comments *ngIf="meetObjLoaded" res_app="{{discussion_params.app}}" res_model="{{discussion_params.model}}" res_id="{{meeting_object.id}}" [mention_list]="meeting_object.attendees"></app-comments>
    </div>
</div>
