.surveyDetailsquestions label{
	color:#4B74B5;
	font-size:18px;
}

.surveyDetailsquestions h4{
	color:#737373;
	font-size:16px;
	line-height:19px;
}
.hideoverflow{
	height:250px;
    overflow: auto;
}