<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>

<body>
<script id="dropboxjs" src="https://www.dropbox.com/static/api/2/dropins.js"
        type="text/javascript" data-app-key="pvbda3hm0tpwnod"></script>
<iframe style="display:none"></iframe>
<button id="OpenDropboxFilePicker">Dropbox file picker</button>
<script type="text/javascript" src="/static/assets/libs/jquery/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/assets/js/cloudfiles/dropbox.js"></script>
</body>

</html>