<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Google Picker Example</title>
</head>

<body>
    <button disabled id="google_drive_picker">Show Drive Picker</button>
    <div id="accessed_file"></div>
    <div id="result">Result</div>
    <div>
        <script src="/static/assets/js/ajax.js"></script>
        <script>
        function onGooglePickerApiLoad() {
            window['google_picker'] = 1;
            $('#google_drive_picker').removeAttr('disabled');
        }
        </script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onGooglePickerApiLoad"></script>
        <script type="text/javascript" src="/static/assets/libs/jquery/jquery-2.2.4.js"></script>
        <script src="/static/assets/js/cloudfiles/gdrive.js"></script>
    </div>
</body>
</html>