*.pyc
*.po
.vscode
.idea
*/.idea
*/odoochat/*config.js
custom_base
node_modules
*/__pycache__
*pycache*
db.sqlite3
db.*
media
media/*
static/angular/static
*/migrations
*/migrations/*
*/migrations/*.py
000*.py
*/000*.py
config.json
*/node_modules
*/build/static
*/build/assets