*.pyc
*.po
.vscode
.idea
*/.idea
node_modules
*/__pycache__
*pycache*
db.sqlite3
db.*
media
media/original/*
media/*
*/migrations
*/migrations/*
*/migrations/*.py
000*.py
*/000*.py
config.json
*/node_modules
static/build/static
static/build/*.map
package-lock.json
mtest.py
error_log.txt
meetings/static/*.*
esign/static/*.*
