*.pyc
*.po
.vscode
.idea
*/.idea
node_modules
*/__pycache__
*pycache*
db.sqlite3
db.*
media
media/*
*/migrations
*/migrations/*
*/migrations/*.py
000*.py
*/000*.py
config.json
*/node_modules
static/build/static
package-lock.json
mtest.py