  #annotated-doc-conatiner
  {
      display: none;
      z-index: 21;
      background: #fff;
      width: 100vw;
      height: 100vh;
      position: relative;
      top: 45px;
  }
  #content-wrapper {    
    width: 98%;
    background-color: white;
    position: fixed;
    overflow: auto;
    height: 100%;
    padding-bottom: 0px;
    white-space: nowrap;
    top: 0px;
    bottom: 0px;
  }
  #comment-wrapper {
    position: absolute;
    width: 250px;
    left: -14px;
    display: none;
    background: silver;
    border-right: 1px solid #e6e6e6;
    overflow-y: scroll;
    bottom: 0;
    height: auto !important;
    top:0 !important;
     }
  
  .pdfViewer .canvasWrapper {
    box-shadow: 0 0 3px #bbb;
  }
  
  .pdfViewer .page {
    margin-bottom: 10px;
  }
  
  .annotationLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .show-all-comments
  {
      float: right;
      margin: 10px;
      cursor: pointer;
  }
  .annotation .show-all-comments
  {
      display: none;
  }
  
  #viewer {
    margin: 0 auto;
    /*margin-top: 53px;*/
  }
  
  #viewer .page:last-child {
    width: 100%;
  }
  
  .Icon {
    width: 24px;
    height: 24px;
    color: #757575;
    pointer-events: none;
  }

  /*********** Comments ***********/

  .comment-list {
    padding-top:50px;
    padding-bottom:220px;
  }

  .comment-list-container > div {
    border-radius: 5px;
  }
  
  #comment-wrapper h4 {
    margin: 0;
    position:fixed;
    width: 250px;
    padding: 12px;
    text-align: center;
    background: #f5f5f5;
    color: #757575;
  }
  
  #comment-wrapper .comment-list-item {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f1e9e9;    
    background-color: #f0f4f9;    
    border-radius: 10px;
    font-size: 12px;
    color: #888da8;
    margin: 5px;
    padding: 5px;
    white-space: pre-wrap;
    line-height:1.5;
    cursor: pointer;
  }
  
  .comment-list-item .user-time-info {
    font-size: 11px;
    margin-top: 7px;
  } 
  .comment-list-item .user-time-info .user
  {
      float: right;
  }
  .comment-list-item .user-time-info .buttons
  {
    float: right;
    font-size: 16px;
    background: red;
    width: 15px;
    margin-top: -5px;
  }

  #comment-wrapper .comment-list-container {                
    width: 100%;
    min-height:auto !important;
  }
  
  #comment-wrapper .comment-list-form {
    position: fixed;
    width: 250px;
    background: #fff;
    bottom: 0;
}
  
  #comment-wrapper.annotation .comment-list-form {
    display: none;
  }
  
  #commentText {
    width: 100%;
    height: 51px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    resize: none;
  }
  
  #commentText:focus {
    outline: none;
    border-top: 1px solid #cccccc;
    box-shadow: transparent;
  }
  
/****** Context Menu *******/
  .ContextMenuPopup {
    display: none;
    position: fixed;
    z-index: 8778995;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
  }
  
  .ContextMenuPopup >div {
    float: left;
    text-align: center;
    
  }
  
  .ContextMenuPopup >div>button {
    cursor: pointer;
  }
  
  .ContextMenuPopup {
    width: fit-content;
    height: fit-content;
  }

  /* =================================

  Color Popup

  ==================================*/

  
  .ColorPalettePopup {
    z-index: 60;
    display: none;
  }

  .ColorPalettePopup .row {
    display: flex;
    margin: 2px;
  }
  
  .ColorPalettePopup .row .cell {
    flex: 1 0 28px;
    height: 26px;
    margin: 0 1px;
    border-radius: 1px;
    cursor: pointer;
  }
  
   .ColorPalettePopup .row .cell.colored .check-mark {
    margin-left: 7px;
  }
  
  .StylePopup {
    width: 160px;    
  }
  #pdf-annotate-point-input
  {
      z-index: 999;
  }
  hr
  {
      margin: 5px 0;
  }
  .groupcomment
  {
    padding: 3px 0 0;
    border-top: 1px solid #888585;
    border-bottom: 1px solid #888585;
    margin: 3px 0;
  }
