{% extends 'admin/change_form.html' %}
{% block content %}
    <script src="/static/assets/libs/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap-4.1.1-c.css" />
    <script type="text/javascript" src="/static/assets/libs/js/bootstrap-4.1.1.js"></script>
    <script type="text/javascript" src="/static/assets/js/popup.js"></script>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/change_form.css" />
{% endblock %}
{% block footer %}
{% endblock %}
