.o_control_panel.o_breadcrumb_full>div
{
    display: none;
}
.o_kanban_record h2
{
    margin-top:5px;
}
.o_kanban_record h2
{
    margin-top:5px;
}

.o_kanban_view.o_kanban_ungrouped .o_kanban_record
{
    overflow:hidden;
}
.o_form_view.o_form_nosheet
{
    padding:5px;
}
.committees-container .members .member
{
    float:left;
    width:28px;
    height:28px;
    margin-right:5px;
    cursor:pointer;
    background-size:cover;
}

.committees-container .oe_form_field_html_text{
 height:70px
}