#videos-container
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

#active-video
{
    width:500px;
    height: 500px;
    border: 1px solid;
    background: white;
    display: none;
}

#videos-container .media-container .media-box {
    border: transparent  !important;
    margin: 1px;
}

#videos-container .media-box video {
    /* object-fit: contain !important; */
}

.media-controls .control, .volume-control .control {
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    background-color: #ffffff !important;
    border-radius: 35px !important;
    padding: 30px !important;
}


#videos-container .media-container{
    width: 100px;
    height: 100px;
    border: transparent;
    border-radius: 0px;
    background: #000000;
}

#peerrtccontainer{
    background: #46515d;
    position: fixed;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
}

#csetupbuttons{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#csetupbuttons button{
    margin: 0 10px;
}

#csetupbuttons input:first-child
{
    margin-left: 18px;
}

.video-btn-wrap{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 0 10px;
    background: #ffffff;
    border: none;
    outline: transparent;
}

.video-btn-wrap img{
    width: 40px;
}


#incall-buttons-conariner{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-btn-wrap{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 0 10px;
    background: #ffffff;
    border: none;
    outline: transparent;
}

.video-btn-wrap img{
    width: 40px;
}

#meeting-info-btn
{
    cursor: pointer;
}
#meeting-info-box
{
    display: none;
    position: absolute;
    border-radius: 5px;
    text-align: left;
    color: white;
    background: #0e1624d1;
}
#meeting-info-box>div
{
    padding: 5px;
}

.modal-backdrop {

    z-index: 1000;
}