/*.o_field_radio .o_radio_item:last-child,.o_field_radio .o_radio_item:nth-child(2)
{
    display:none;
}*/

 .btn-primary{
    background-color:#3fa19d !important;
    border-color:#3fa19d !important;
 }
 a{
    color: #3fa19d;
 }

 .jumbotron.mt32 {
    background-color: #eeeeef;
}

.navbar.navbar-static-top
{
    display: none;
    background-color: transparent;
    border-color: transparent;
     margin-bottom: -20px;
    margin-top: 30px;
}

.survey_back_btn_container > div
{
    margin: 5px;
}
.form-control{
    background-color: #eeeeef;
}

