/*
 .btn-primary{
    background-color:#3fa19d !important;
    border-color:#3fa19d !important;
 }
 a{
    color: #3fa19d;
 }

 .jumbotron.mt32 {
    background-color: #eeeeef;
}

.survey_back_btn_container > div
{
    margin: 5px;
}
.form-control{
    background-color: #eeeeef;
}

main .container:first-child
{
    padding-top: 50px;
}
*/

.voting_back_btn_container > div, .survey_back_btn_container > div
{
    margin-right: 10px;
}

.voting_back_btn_container a.btn, .survey_back_btn_container a.btn{
    padding: 6px 6px 3px;
}
.navbar.navbar-static-top
{
    display: none;
    background-color: transparent;
    border-color: transparent;
}

.jumbotron.mt32
{
    margin-top:0 !important;
}
.survey_back_btn_container > div
{
    margin: 5px;
}
.navbar.navbar-static-top
{
    background-color: transparent;
    border-color: transparent;
    display : none;
}
#wrapwrap
{
    margin-top: 60px;
}