.vote_choice>span, .vote_choice>input
{
    padding-right: 10px;
    cursor: pointer;
}
.voting_choice_container
{
    margin-left:-5px;
}
.results_container
{
    display : none;
    padding-top: 10px;
    padding-bottom: 25px;
}

.viewGraphically{
    margin-top: 10px;
}


#signature_editor
{
    border: 1px solid silver;
}
btn.DocsBtn
{
    margin-right: 10px;
}

.motion-icon
{
    margin-left: 5px;
}
.motion-person
{
    padding-left: 15px;
}
.acceptance_buttons_new
{
	display:flex;
}
.acceptance_buttons_new>div
{
	margin-right: 6px;
}


voting-comments .btn-group
{
    display:flex;
}
voting-comments .container
{
    width:auto;
}