.vote_choice>span, .vote_choice>input
{
    padding-right: 10px;
    cursor: pointer;
}
.voting_choice_container
{
    margin-left:-5px;
}
.results_container
{
    display : none;
    padding-top: 10px;
    padding-bottom: 25px;
}

.viewGraphically{
    margin-top: 10px;
}


#signature_editor
{
    border: 1px solid silver;
}
btn.DocsBtn
{
    margin-right: 10px;
}

.motion-icon
{
    margin-left: 5px;
}
.motion-person
{
    padding-left: 15px;
}
.acceptance_buttons_new
{
	display:flex;
}
.acceptance_buttons_new>div
{
	margin-right: 6px;
}


voting-comments .btn-group
{
    display:flex;
}
voting-comments .container
{
    width:auto;
}
.o_form_view .oe_button_box .btn.oe_stat_button {
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #d9d7d7;
    padding: 0;
    height: 30px;
    width: 40px;
    text-align: center;
        padding-bottom: 4px;
}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info {
    padding-right:0;
}

.yes, .no{
        z-index: 1313;
        width: 120%;
        height: 135%;
        top: auto;
}
.yes{
    color: green;
}
.no{
    color: red;
}