.vote_choice>span, .vote_choice>input
{
    padding-right: 10px;
    cursor: pointer;
}

.results_container
{
    display : none;
    padding-top: 10px;
    padding-left: 5px;
}

.viewGraphically{
    margin-top: 10px;
}