<app-breadcrumb app="meetings" model="topic" 
*ngIf="topic && meeting_type"
rid={{topic.id}}
edit="1"
delete="1"
routes='[{"title":"{{meeting_type}} Meetings", "link":"/meetings/{{meeting_type}}"},
{"title":"{{meeting_name}}", "link":"/meeting/{{meeting_id}}"}]'
title="{{topic.name}}"></app-breadcrumb>
<div class="router-outlet">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 mr-b20">
                <div *ngIf="topic.name" class="row">
                    <div class="col-sm-2" style="border-right: 1px solid #cccccc;">
                        <label>
                            <b>Name</b>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{topic.name}}
                    </div>
                </div>
                <div *ngIf="topic.lead" class="row">
                    <div class="col-sm-2" style="border-right: 1px solid #cccccc;">
                        <label>
                            <b>Lead</b>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{topic.lead}}
                    </div>
                </div>
                <div *ngIf="topic.duration" class="row">
                    <div class="col-sm-2" style="border-right: 1px solid #cccccc;">
                        <label>
                            <b>Duration</b>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{topic.duration}}
                    </div>
                </div>
                <div *ngIf="topic.content" class="row">
                    <div class="col-sm-2" style="border-right: 1px solid #cccccc;">
                        <label>
                            <b>Content</b>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{topic.content}}
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="container">
        <div *ngIf="topic.votings && topic.votings.length" class="title-wrapper">
            <!--Votings-->
            <div class="modal-header">
                Approval/Voting
            </div>
            <div class="row">
                <div class="kanban-card survey" *ngFor="let vote of topic.votings">
                    <div class="SurveysInfoBox d-flex flex-wrap justify-content-between align-items-center">
                        <div class="SurveysInfoBoxTitle">
                            <span class="container">
                                <h5>
                                    <b>{{vote.name}}</b>
                                </h5>
                            </span>
                        </div>
                        <div class="">
                            <button class="btn btn-primary" routerLink="/voting/{{vote.id}}">
                                <span *ngIf = "vote.my_status != 'pending'">Results</span>
                                <span *ngIf = "vote.my_status == 'pending'">Start</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section *ngIf="topic.docs && topic.docs.length" class="HomepageDocumentSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        <b>Documents</b>
                    </h4>
                    <br>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <a class="col-sm-6 col-md-4 col-lg-3" routerLink="/topic/doc/{{doc.id}}" *ngFor="let doc of topic.docs">
                            <div class="DocumentWrapper">
                                    <div class="DocIcon">
                                            <!-- doc_type='topic' doc_id='{{doc.id}}' -->
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="DocText">{{doc.name}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
