.comments .note{
	border: 1px solid gray;
	padding: 1%;
	margin: 1% 0;
	background: #f1f2f4;
	font-size: 14px;
	font-weight: 900;
}

.comments .active{
	background-color: #9c4784 !important;
	color: white;
}

.comments .btn-default{
	background-color: silver;
}

.comments .btn-default:focus {
	outline: solid;
}

.comments .navbar{
	background-color: #eeeeee;
}

.comments .bordered{
	border: 1px solid #808080;
}

.comments .modal-header, 
.comments .modal-footer
{
	background-color: #eeeeee !important;
}

#addSlot>.modal-dialog>.modal-content{
	border: 0px !important;
	box-shadow: 1px 5px 20px 3px #808080;
}

.comments .add-slot
{
	cursor: pointer;
	background-color: #54ab35;
	height: 50px;
	width: 50px;
	color: white;
	font-size: 32px;
	position: fixed;
	top: 68px;
	left: 20px;
	border: 0px !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 1px 2px 10px 1px #808080;
}


.comments .btn-info, 
.comments .btn-info>a, 
.comments .btn-secondary
{
	background-color: white;
	border-color: white;
}

.comments  .title-wrapper .modal-header{
	margin: 0px 0 25px;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 500;
	background: transparent !important;
}

.comments button{
	margin: 0 !important;
}

.comments textarea.form-control{
	margin-bottom: 20px;
	min-height: 150xp;
}
.comments .label
{
    padding-bottom: 20px;
    cursor: pointer;
    float: right;
    background: gray;
    padding: 0 5px;
    color: white;
    border-radius: 25px;
    font-weight: bolder;
}

.comments .container.comments {
	padding-bottom: 20px;
}


.comments .message.reply, .comments .mainthread {
    background: #eeeeee;
    border-radius: 4px;
    padding: .5rem;
    border: 1px solid #e6e6e6;
}

.comments .message.reply{
	background:#d6d6d6;
	border: 1px solid #bdbdbd;
}

.comments .comments-container {
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	padding: 0 6%;
}

.comments .comment_response
{
	font-size: 12px;
	color: grey;
	padding: 0 0 0 3%;
	margin-bottom: 10px;
	margin-top: 5px;
}

.comments .label > div {
	width: 35px;
	text-align: center;
}

.comments .main.comment_response a 
{
	padding: 0 5px 0 5px;
}

.comments .reply-input {
    margin: 0 0 10px 0;
    width: 100%;
}

.comments .reply-body
{
	word-wrap: break-word;
	width: 80%;
}

.o_form_view .comments.oe_read_only
{
    margin: auto;
}
.o_form_view .comments.oe_read_only .btn-group button
{
    color: white;
}
.comments.oe_read_only .row pre
{
    margin-bottom: 0;
    margin-top: 1px;
}
.o_form_view .comments.oe_read_only .row pre
{
    margin: -8px;
    font-size: inherit;
    background-color: transparent;
    border: none;
}

.comments .comment-user
{
    float: left;
    font-weight:bold;
}
.comments .comment-body
{
    float: left;
    margin-left: 5px;
    margin-top: 1px;
}
.comments .reply-input textarea
{
    line-height: 1;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}