<div class="router-outlet Login-form-wrapper" *ngIf="page_loaded">
        <link rel="stylesheet" href="/static/angular/assets/css/login.css" />
    <span class="loginshape01"><img async class="img-fluid" src="static/angular/assets/images/loginshape-01.png" /> </span>
    <span class="loginshape02"><img async class="img-fluid" src="static/angular/assets/images/loginshape-02.png" /> </span>
    <span class="loginshape03"><img async class="img-fluid" src="static/angular/assets/images/loginshape-03.png" /> </span>
    <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-10 col-md-5">
            <div class="login-form-div">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="login-logo">
                        <img async class="img-fluid" src="static/angular/assets/images/login-logo.png" />  
                    </div>
                    <div class="member-login-box">
                        <img async src="static/angular/assets/images/member-icon.png" />
                        <span>Member Login</span>
                    </div>
                    <div class="form-group input-label-icon">
                        <img async class="img-fluid user-icon" src="static/angular/assets/images/login-user.png" />  
                        <input id="username" placeholder="Username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group input-label-icon">
                        <img async class="img-fluid" src="static/angular/assets/images/lock-icon.png" />  
                        <input id="password" placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group text-center pl-5 pr-5 mb-2">
                        <button class="login-btn">Login</button>
                    </div>
                    <div class="form-group text-center">
                        <a class="forgot" routerLink="/forgot-password">Forgot Password?</a>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </form>
        
                
            </div>
        </div>
        <div class="col-md-7 text-center d-none d-md-block d-lg-block">
            <img async class="img-key" src="static/angular/assets/images/login-vector.png" />  
        </div>
    </div>
</div>