
.upcomingButton button{
    margin-right: 4px;
    border: 0;
    padding: 6px 0;
    background: #638FC9;
    color: #ffffff;
    border-radius: 25px;
}
.upcomingButton button i {
    font-size: 14px;
    padding-right: 4px;
}
