.upcomingButton button{
	margin: .2rem;
	border: 0;
	padding: .5rem;
	background: #638FC9;
	color: #ffffff;
	border-radius: 25px;
}
.upcomingButton button i {
    font-size: 14px;
    padding-right: 4px;
}
