
.btn-meeting {
	background: #638FC9;
	color: #ffffff;
	border-radius: 25px;
}
.btn-meeting:hover {
	background: #3059C9;
	color: #ffffff;
}
.upcomingButton button {
	background: #638FC9;
	color: #fff;
	border-color: #638FC9;
    min-width: 90px;
    padding: 8px;
    font-size: 0.85rem;
    font-size: 13.5px;    
	border: 0;
    border-radius: 25px;
    flex-grow: 1;
}
.upcomingButton{
    display: flex;
    min-width: 240px;
}
