<app-breadcrumb app="meetings" model="committee" create="1" title="Committees"></app-breadcrumb>
<div class="router-outlet">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="MainTitleHeadWrap">
                    <div class="HeadingWrap">
                        <img src="static/assets/images/committees.png" alt="" /> Committees
                    </div>
                </div>
            </div>
        </div>
		<div class="main-full-seachbar mb-3">
        <input type="text" 
            (keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null" 
            placeholder="Search..."  class="form-control"/>
		</div>
        <div class="row">
            <div class="kanban-committees col-xs-12 col-sm-6 col-md-4"
                    *ngFor="let committee of records">
                <a class="kanban-committees-info-box" routerLink="/committees/{{committee.id}}">
                    <a class="kanban-committees-info-box-name">
                        {{committee.name}}
                    </a>
                    <div class="container">
                        <p class="mb-4">{{committee.description}}</p>
                        <div class="row">
                            <div class="col-2">
                                Members
                            </div>
                            <div class="col-10">
                                <div class="kanban-committees-info-box-img">
                                    <a class="circle-imgwrap"  *ngFor="let member of committee.users.slice(0,6)" routerLink="/profile/{{member.id}}">
                                        <img title="{{member.username}}" class="img-thumbnail-sm" src="{{socketService.server_url}}{{member.image}}">
                                    </a>
                                    <span *ngIf="committee.users.length > 6">
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </a>
            </div>   
        </div>
        <app-paginator
            *ngIf="records.length"
            (reload_data)="get_list()">
         </app-paginator>
    </div>
        <div class="container" *ngIf="no_committees">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="jumbotron text-center">
                        <h1>There are no Committees to show for now!</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
</div>
