<app-breadcrumb app="meetings" model="committee" create="1" title="Committees"></app-breadcrumb>
<div class="router-outlet">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="MainTitleHeadWrap">
                    <div class="HeadingWrap">
                        <img src="static/assets/images/committees.png" alt="" /> Committees
                    </div>
                </div>
            </div>
        </div>
        <input type="text" 
            (keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null" 
            placeholder="Search..."  class="form-control mb-3"/>
        <div class="row">
            <div class="kanban-committees col-xs-12 col-sm-6 col-md-4"
                    *ngFor="let committee of records">
                <a class="kanban-committees-info-box" routerLink="/committees/{{committee.id}}">
                        <a class="kanban-committees-info-box-name">
                            {{committee.name}}
                        </a>
                    <div class="kanban-committees-info-box-img">
                        <a class="circle-imgwrap"  *ngFor="let member of committee.users; let index = index" routerLink="/profile/{{member.id}}">
                        <span *ngIf="index < 3">
                            <img title="{{member.username}}" class="img-thumbnail-sm" src="{{socketService.server_url}}{{member.image}}">
                        </span>
                        <span *ngIf="index === 3">
                            <b>. . .</b>
                        </span>
                        </a>
                    </div>
                    
                </a>
            </div>   
        </div>
        <app-paginator
            *ngIf="records.length"
            (reload_data)="get_list()">
         </app-paginator>
    </div>
        <div class="container" *ngIf="no_committees">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="jumbotron text-center">
                        <h1>There are no Committees to show for now!</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
</div>
