<div style="padding:10px" class="container">
    <input type="text" placeholder="Search..." (keyup)="roster_search($event)" class="form-control w-25"/>
    <div class="roster">
        <table class="table my-3">
            <thead>
                <tr class="text-primary">
                    <th>Attendee</th>
                    <th>Absent</th>
                    <th>InPerson</th>
                    <th>Online</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of attendees">
                    <td (click)="open(obj.id)">
                        <img class="roster-images rounded-circle" src="{{socketService.server_url}}{{obj.photo}}" style="height: 60px;width: 60px;" />
                        <span class="text-primary font-weight-bold ml-2">{{obj.name}}</span>                  
                    </td>                
                    <td>
                        <input *ngIf="obj.attendance=='absent'" checked type="radio" name="{{obj.id}}" />                    
                        <input (click)="update_attendance(obj.id,'absent')" *ngIf="obj.attendance!='absent'" type="radio" name="{{obj.id}}" />
                        <input type="hidden" value="absent" />
                        <input type="hidden" value="{{obj.id}}" />
                    </td>
                    <td>
                        <input *ngIf="obj.attendance=='inperson'" checked type="radio" name="{{obj.id}}" />
                        <input (click)="update_attendance(obj.id,'inperson')" *ngIf="obj.attendance!='inperson'" type="radio" name="{{obj.id}}" />
                        <input type="hidden" value="inperson" />
                        <input type="hidden" value="{{obj.id}}" />
                    </td>
                    <td>
                        <input *ngIf="obj.attendance=='online'" checked type="radio" name="{{obj.id}}" />
                        <input (click)="update_attendance(obj.id,'online')" *ngIf="obj.attendance!='online'" type="radio" name="{{obj.id}}" />
                        <input type="hidden" value="online" />
                        <input type="hidden" value="{{obj.id}}" />
                    </td>
                </tr>
            </tbody>
        </table>        
        <style>
            table.roster td, table.roster th{
                border: 1px solid;
            }
        </style>
    </div>
    <app-paginator count="{{total_records}}" *ngIf="attendees && attendees.length > 0"            
            (changedLimit)="changedLimit($event)"            
            (changedOffset)="changedOffset($event)"></app-paginator>
    <div class="float-left my-3">
        <button type="button" class="btn btn-success btn-sm rounded-0 mr-2" (click)="submit_attendance($event)">Submit and Close</button>
        <button type="button" class="btn btn-danger btn-sm rounded-0" (click)="close_roster($event)">Close</button>
    </div>
</div>