.roster-images{
    height: 100px;
    width: 100px;
}
.close-btn
{
    width: 100%;
    background-color: #21375a !important;
    color: white;
}
.roster-router-outlet
{
    overflow: auto;
    padding-top:5px;
    height: calc(100vh - 200px);
}
table.roster{
    width:100%;
}