.bg-roster{
    background: #f1f2f4;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.close-btn
{
    width: 100%;
    background-color: #21375a !important;
    color: white;
}
.img-circle{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #000000; 
}
.roster-elements{
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 600;
    color: #4b74b5;
}
.roester-data{
    align-items: center;
    color: #4b74b5;
    font-weight: 600; 
    font-size: 0.8rem;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1 !important; 
    border-radius: 0px !important;
}
input[type='radio']:after{
    background: #F1F1F1;
    border: 3px solid #F1F1F1;
}
