<div style="padding:10px" class="container">
    <div class="main-full-seachbar mb-3">
	<input type="text"
        (keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null" 
        placeholder="Search..."  class="form-control"/>
	</div>
    <div class="roster">
        <table class="table my-3">
            <thead>
                <tr class="text-primary">
                    <th>Attendee</th>
                    <th class="d-none d-md-block">Status</th>
                    <th>Absent</th>
                    <th>InPerson</th>
                    <th>Online</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of attendees" class="bg-roster">
                    <td (click)="open_dialog(obj.id)" style="cursor: pointer">
                        <span>
                            <img class="roster-images rounded-circle d-none d-md-block" src="{{socketService.server_url}}{{obj.photo}}" style="height: 60px;width: 60px;" />
                        </span>
                        <span class="text-primary font-weight-bold">{{obj.name}}</span>
                        <p class="d-sm-block d-md-none">Accept by: Self</p>                                        
                    </td>  
                    <td class="d-none d-md-block pt-5">
                        <span class="font-weight-bold text-primary">Accept / Self</span>
                    </td>
                    <td>
                        <input *ngIf="obj.attendance=='absent'" checked type="radio" name="{{obj.id}}" />                    
                        <input (click)="update_attendance(obj.id,'absent')" *ngIf="obj.attendance!='absent'" type="radio" name="{{obj.id}}" />
                        <input type="hidden" value="absent" />
                        <input type="hidden" value="{{obj.id}}" />
                    </td>
                    <td>
                        <input *ngIf="obj.attendance=='inperson'" checked type="radio" name="{{obj.id}}" />
                        <input (click)="update_attendance(obj.id,'inperson')" *ngIf="obj.attendance!='inperson'" type="radio" name="{{obj.id}}" />
                        <input type="hidden" value="inperson" />
                        <input type="hidden" value="{{obj.id}}" />
                    </td>
                    <td>
                        <input *ngIf="obj.attendance=='online'" checked type="radio" name="{{obj.id}}" />
                        <input (click)="update_attendance(obj.id,'online')" *ngIf="obj.attendance!='online'" type="radio" name="{{obj.id}}" />
                        <input type="hidden" value="online" />
                        <input type="hidden" value="{{obj.id}}" />
                    </td>
                </tr>
            </tbody>
        </table>        
        <style>
            table.roster td, table.roster th{
                border: 1px solid;
            }
        </style>
    </div>
    <app-paginator *ngIf="attendees.length"            
        (reload_data)="get_list()"
            >
    </app-paginator>
            
    <div class="form-buttons" style="clear: both">
        <button type="button" class="btn btn-success btn-sm mr-2" (click)="submit_attendance($event)">Submit and Close</button>
        <button type="button" class="btn btn-danger btn-sm " (click)="close_roster($event)">Close</button>
    </div>
</div>
