<!DOCTYPE html>
<html lang="en">
<head>	
    <base href="/#/" />
	<meta charset="utf-8" />	
	<title>MeetVUE</title>
	<script>
	{% if not user %}
		window.location = '/account/login';
	{% endif %}
	</script>

</head>

<body>
	{% load static %}
	<script type="text/javascript" src="/static/angular/assets/libs/js/jquery-2.2.4.js"></script>
	<script id="config_script" type="text/javascript" src="/static/angular/assets/config.js"></script>
	<link rel="icon" type="image/x-icon" href="/static/angular/assets/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/libs/css/bootstrap-4.1.1.css" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/libs/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/css/font-awsome-5.5.0.css" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/css/font-roboto-3.4.5.7.9.css" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/css/simple-line-icons.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/static/angular/assets/css/emoji.css" />
	<div id="server-wait" class="loadingoverlay">
		<img src="/static/angular/assets/images/spin.png" alt="loading data..." />
    </div>
	<script type="text/javascript" src="/static/angular/assets/js/json.js"></script>
    <script type="text/javascript" src="/static/angular/assets/js/simple_ajax.js"></script>
    <script type="text/javascript" src="/static/angular/assets/js/main.js"></script>
	{% csrf_token %}
	<script>
		{% if uid %}
			window['current_user'].cookie = {
				id : {{id}},
				name : '{{name}}',
				token: $('input[name="csrfmiddlewaretoken"]:first').val(),
				login: '{{login}}'
			};
			localStorage.setItem('user', JSON.stringify(window['current_user'].cookie));
			//console.log(localStorage.getItem('user'), 188);
		{% endif %}
	</script>
    <script type="text/javascript" src="/static/angular/assets/js/datetime.js"></script>
	<div id="pdf-libs-conatiner" class="pdf-annotation" uninitialized="1">
		<script type="text/javascript" async src="/static/angular/assets/annotator/shared/pdf.js"></script>
	</div>

	<script type="text/javascript" src="/static/angular/assets/libs/js/socket.io.js"></script>
	<script>
		window["io"] = io;
	</script>	

	<script type="text/javascript" async src="/static/angular/assets/libs/js/jquery-ui.min.js"></script>
	<script type="text/javascript" async src="/static/angular/assets/libs/js/bootstrap-4.1.1.js"></script>
	<script type="text/javascript" async src="/static/angular/assets/libs/js/moment.js"></script>
	<script type="text/javascript" async src="/static/angular/assets/libs/js/bootbox.js"></script>
	<script type="text/javascript" async src="/static/angular/assets/libs/js/jquery.ui.touch-punch.min.js"></script>
    
    <script type="text/javascript" async src="/static/angular/assets/emoji/js/emoji-picker.js"></script>
    
	<app-root></app-root>
    
	<script type="text/javascript" src="/static/angular/runtime.js"></script>
	<script type="text/javascript" src="/static/angular/polyfills.js"></script>
	<script type="text/javascript" src="/static/angular/vendor.js"></script>
	<script type="text/javascript" src="/static/angular/main.js"></script>
</body>
</html>
