.sign_container
{
    background: lightslategrey;
    color: white;    
    border: 1px solid #ddd;
}
.youtubeVideoModal .modal-header{
	display:none !important;
}
.doc-cencel-btn{
	background: #dc3545;
    min-width: 85px;
    border: 1px solid #dc3545;
}
body.user #viewer_container
{
    height: calc(100vh - 153px);
    overflow: auto;
}
body.public #viewer_container
{
    height: calc(100vh - 43px);
    overflow: auto;
}
.sign_container[signed="true"]
{
    background: white;
}

.new_sign .del_sign {
	color: #ffffff;
	position: absolute;
	top: -13px;
	right: -13px;
	background: #c30000;
	font-size: 12px;
	border-radius: 3rem;
	padding: .32rem .33rem .3rem .33rem;
	}
.new_sign .field_type {
	margin: 0 .5rem;
	padding: 0 .3rem;
	flex: 1;
	}
.new_sign input.field_type {
	border-radius: .2rem;
	border: 1px solid #999999;
	}

.new_sign.active_signature{
    display: block;
    box-shadow: 0px 0px 0px 8px yellow;
}
.sign_container{
    cursor: pointer;    
}
.new_sign{
    padding: 0;
    width:160px;
    height:40px;
}

.sign_container[signed="true"]{    
    border: 1px dotted;
    background: white;
}
.sign_container img{
    max-width: inherit;
}