@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
body{
	font-family: 'Roboto Condensed', sans-serif !important;
}
.boardsheet-survey-container{
	min-height:auto;
    margin-bottom: 20px;
    background-color: #ffffff;
    border:0;
    border-radius: 40;
    box-shadow:none;
}
.boardsheet-survey-container h4{
	margin:0;
	padding:15px 0 13px;
	font-size: 16px;
	font-weight: 400;
	color: #4B74B5;
}
.boardsheet-survey-container p{
	display: block;
	border-radius: 0;
	padding:5px 0 0;
	margin:10px 0;
	font-size: 13.5px;
	line-height: 1.42857143;
	color: #666666;
}
.iframe-survey-head h1{
	margin: 25px 0;
    padding: 0 0 15px;
    font-size: 30px;
    font-weight: 400;
    color: #2B2B2B;
    border-bottom:1px solid #dadada;
}

.iframe-survey-head h3{
	margin:0;
	padding:15px 0 10px;
	font-size: 26px;
	font-weight: 400;
	color: #4B74B5;
}

.iframe-textarea-wrap textarea{
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
input[type="text"]{
    display: block;
    width: 100%;
    height: calc(3.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius:5px;
}
label{
    margin-inline-end: 20px;
    /* align-items: center; */
    display: inline-flex;
}
input[type=checkbox]{
    -webkit-appearance: none;
	border: 2px solid #4b74b5;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
    position: relative;
    margin: 0px 5px 20px 0px;
    cursor: pointer;
  }
input[type=checkbox]:checked:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 3px;
	color: #4b74b5;
}
input[type='radio']{
    margin-right: 10px;
    cursor: pointer;
}
input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -3px;
    left: -1px;
    background-color: #fff;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #4b74b5;
}

input[type='radio']:checked:after {
    background-color: #000;
}
