.container{
    padding-left:20px; 
    padding-right:20px; 
}
.img-flex img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.survey-results{
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: #f3f3f3;
    border-radius: 50%;
}

.droppable_holder{
    width:200px;
    height:200px;
    border: 10px dashed #ccc;
}
.droppable_holder.hover {
    border: 10px dashed #0c0;
}
.upcomingButton button
{
    margin-right: 8px;
}
.home-modal-calendar .upcomingButton button i{
	font-size:12px;
	margin-right:5px;
}
.home-modal-calendar  .upcomingButton button {
    margin-right: 8px;
    font-size: 14px;
    min-width: 90px;
}

.modal-backdrop
{
    z-index: 10 !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label {
    font-weight: 500;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    margin: .3rem;
    font-family: "Roboto" !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: #c0c0c0;
    color: black;
}

hr{
    margin: 0;
}
body.public .app-sidebar
{
	display:none;
}
.saved_sign{
    cursor:pointer;
    width:190px;
    height:40px;
    border:2px dotted gray;
    font-weight: bold;
    color:black;
    z-index:1;
    overflow:hidden;
    background-color: antiquewhite;
}
body.public .router-outlet{
    height: 100vh !important;
}
.sidebar-mini.sidenav-toggled .app-sidebar
{
    overflow-y: auto;
    overflow-x: hidden;
}
table.table.my-3 input[type='radio']{
    margin-right: 10px;
}
input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: -3px;
    left: -1px;
    background: #fff;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #fff;
    box-shadow: 0 0 0 2px #5869f3;
}

input[type='radio']:checked:after {
    background-color: #5869f3;
}
input[type=checkbox]#mail-to-assistant {
    -webkit-appearance: none;
	border: 2px solid #4b74b5;
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
    position: relative;
    margin: 5px 5px;
    top: -3px;
}
.edit_mode input[type=checkbox]{
    -webkit-appearance: none;
    border: 2px solid #4B74B5;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 0px 5px -5px 0px;
}
.edit_mode input[type=checkbox]:checked:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 3px;
    color: #4B74B5;
}
.respons-margin{
    margin-top: 2px !important;
    padding: 0 0 0 2% !important;
}
.CommentsWrap{
    padding-bottom: 10px !important;
}
.comment:last-of-type{
    border: none !important;
    margin-bottom:0 !important;
}
select, button, a, input[type="radio"], input[type="checkbox"], input[type="button"]{
    cursor: pointer;
}
.badge-warning.position-absolute{
    top: 0;
    right: 0;
}
.fc-row .fc-content-skeleton tbody td{
    top: -3px !important;
}
.fc-time-grid-event .fc-time,
.fc-time-grid-event > .fc-content{
    color: #fff;
    font-size: 1rem;
}

.bs-btnwrap .btn.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled):active{
    background-color: rgba(99, 143, 201, 0.25);
    border-color:rgba(99, 143, 201, 0.25);
}
.btn-secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
}
th.d-none.d-md-block{
    margin-block-end: -1px;
}
/* Committee */
a:hover{
    color: #959595; 
}
a.DocumentWrapper:hover{
    color: #007bff;
}
.kanban-upcoming-meeting .Info{
    color: #8d8d8d;
    font-size: 14px;
}
.kanban-committees-info-box{
    color: #959595;
}
.kanban-committees-info-box p,
.kanban-committees-info-box-name{   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kanban-committees-info-box-name{
    font-size: 1.3rem;
}
.kanban-committees-info-box-img{
    padding: 0 !important;
    float: right;
}
.kanban-committees-info-box-img a{
    margin-left: -14px;
    position: relative;
    border: 2px solid #ffffff;
}

.kanban-profiles-user-img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
}
.kanban-profiles-user-info-box{
    background: #f3f3f3;
}
.members-details{
    margin-bottom: 1rem;
    border-bottom: 5px solid #f3f3f3;
    padding-bottom: 1rem;
}
/* End Committee */
.check-status{
    width: 7rem;
    border:1px solid #4B74B5;
    border-radius: 25px;
    height: 30px;
    cursor: pointer;
}
.check-status.Published,.check-status.Unpublished 
{
    transition: all 1s ease;
}
.check-status.Published .circle,.check-status.Unpublished .circle 
{
    transition: all 1s ease;
}
.check-status.Unpublished{
    background: #fff;
}
.check-status.Published {
    background:#4B74B5;
}
.check-status.Published, .check-status.Published .circle i{
    color: #fff;
}

.check-status.Published span, .check-status.Unpublished span{
    position: absolute;
    top: 0.19rem;
}

.check-status.Published .circle{
    left: 0.2rem;
}

.check-status.Unpublished .circle{
    right: -0.4rem;
}

.check-status.Published .status{
    right: 1rem;
}
.check-status.Unpublished .status{
    left: 0.5rem;
}
.accordion .card:first-of-type{
    border: 1px solid rgba(0,0,0,.125);
}
.kanban-card{
    border: none;
}
.HeadingWrap-status{
    width: 100%;
}
.DocText, .DocInfoVertical{
    background: #638fc9 !important;
}
.admin_mode{
    width: 50% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bootbox-body-scroll{
    max-height: calc(100vh - 200px) !important;
    overflow-y: auto !important;
}
.readmore{
    color: #4B74B5 !important;
    font-weight: bold;
}
/* .container{
    max-width: inherit;
} */
@media screen and (max-width:480px){
    .roster .table th:first-child,
    .roster .table td:first-child{
        width: 35%;
    }
}

body.public .popup.messenger{
    display: none !important;
}
.partial-loader{
    display: none;
    position: absolute;
    z-index: 91;
    opacity: 0.3;
    align-items: center;
    background: white;
    width: 80%;
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    top: 0;
}
mention-list.dropup{
    top: 10px !important;
}
.sub_folders .sub.container{
    padding: 0;
}
.sub_folders .search.container{
    display: none;
}