.droppable_holder{
    width:200px; 
    height:200px; 
    border: 10px dashed #ccc;
}
.droppable_holder.hover { 
    border: 10px dashed #0c0; 
}
.upcomingButton button
{
    margin-right: 8px;
}
.modal-backdrop
{
    z-index: 10 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected
{
    background-color: grey;
    color: white;
}

.popup.messenger .messenger-container {
    height: calc(100vh - 157px);    
}

hr{
    margin: 0;
}
body.public .app-sidebar
{
	display:none;
}
