.ProfileUserNameJonbWrapper{
	text-align:center;
}
.UserProfileNameTittle{
	color:#3059C9;
	font-size:25px;
}
.UserProfileDiscripTittle{
	color:#444444;
	font-size:16px;
}

.details-card h3{
    margin: 25px 0;
    font-size: 1.7em;
}

.pill{
    border-radius: 50px;
    background-color: #808080;
    color: white;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
}

.label-control-form label{
    padding-top: 7px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding:0 10px;
    margin: 5px 0 15px 0;
    display: block;
    border: 1px solid #dedee8;
    height: 40px;
    line-height: 40px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin: 25px 0 25px 0;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn {
    float: left;
    width: 100%;
}

.signupbtn {
    width: 100%;
}

/* Add padding to container elements */

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


/*Success Snackbar*/

.snackbar-success {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #54C036;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    z-index: 999;
}

.snackbar-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*ERROR SNACKBAR*/


.snackbar-error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ff0033;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    z-index: 999;
}

.snackbar-error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.edit-buttons a{
    color: white;
}
.edit-buttons.edit-mode
{
   justify-content: center;
    position: absolute;
    z-index: 14;
    width: 100%;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #cccccc;
    left: 0;
    padding: 7px;
}
.edit-buttons.edit-mode a
{
    color: white;
    margin: 5px;
    border: 1px solid white;
    border-radius: 0.25rem;
    min-width:100px;
}
.edit-buttons.edit-mode a.save{
    background: #7c7bad;    
}
.edit-buttons.edit-mode a.cancel{
    background: red;
}
.details-card.edit-mode
{
    margin-top:45px;
}
