footer
{
    display:none;
}
#top_menu>li:not(.dropdown)
{
    display:none;
}
#oe_main_menu_navbar
{
    display:none;
}
.oe_structure oe_empty
{
    display:none;
}
#wrap>.container:first
{
    display:none;
}
body.o_connected_user
{
    padding-top: 0px !important;
    margin-top: -10px !important;
}
body.o_connected_user
{
    padding-top: 0px !important;
    margin-top: -10px !important;
}