body
{
    background-size: cover;
    background-image: url('/dn_base/static/img/background_login_1.png');
}
#oe_main_menu_navbar
{
    display:none !important;
}
.field-db
{
    display:none;
}
div#wrapwrap footer
{
    display:none;
}
#wrapwrap .container
{
    display:none;
}
#wrapwrap{

}

#wrapwrap header
{
    display:none;
}
#wrapwrap>main
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.dn_footer
{
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:red;
    left:0;
}
.oe_login_form img
{
    background-color: white;
    margin: auto;
    display: block;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.oe_login_form
{
    color:white;
    max-width: 330px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.5);
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.oe_login_buttons
{
    text-align:center;
}

.oe_login_buttons a
{
    color : blue;
}

.oe_login_buttons a:hover
{
    color : black;
}

#wrapwrap
{
    color : white;
}