body
{
    font-size:13.5px;
}
button, a
{
    cursor : pointer;
}
.o_form_view .oe_inline.o_field_one2many
{
    width: 100% !important;
}

.o_form_view .o_group .o_td_label .o_form_label{font-weight: bold;}
.badge.pull-right
{
    display:none;
}

.o_form_editable .o_form_label.o_readonly_modifier
{
    display:none;
}

  div[name="user_ids"] img
  {
    height:20px;
    width:20px;
    float:left;
    margin-left: 5px;
  }


.o_input_dropdown
{
    min-height:25px;
}
.youtubeVideoModal
{
z-index : 99999

}

.youtubeVideoModal .btnclosemodel
{
    background-image: url('/dn_base/static/img/close.png') !important;
    display: block;
    width: 17px;
    height: 16px;
    float: right;
    background-size:  100%;
    cursor:pointer;
}
.youtubeVideoModal .modal-header{
    padding: 6px 5px 20px 0;
}



.o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn
{
    padding: 6px 5px;
    background: cadetblue;
    color: white;
}
.o_form_view .o_form_statusbar
{
    padding:3px;
    border-bottom:none;
    background-color: transparent;
}
.btn
{
    min-width: 50px;
}
.oe_kanban_bottom_right a
{
    float:right;
}
.modal-body .user_form .o_form_statusbar
{
    display:none;
}
.user_form > .o_form_sheet_bg > .o_form_sheet
{
    margin:10px auto;
}
.o_form_view .o_form_sheet_bg
{
    padding-top:10px;
}

.oe_module_icon.pdf
{
    background-color: transparent;
    border: 0;
    margin-right: 5px;
}


.panel-heading.note-toolbar .note-color
{
    display:none;
}

.o_form_editable .note-editor.panel .note-toolbar button[data-name="picture"],
.o_form_editable .note-editor.panel .note-toolbar div[data-name="fontsize"]
{
    display:none
}


h1, .h1, h2, .h2, h3, .h3
{
    margin-top:5px;
}

.model_object_id
{
    display:none;
}
.o_thread_icons
{
    cursor:pointer;
}
body.o_connected_user
{
    padding-top:0 !important;
}
}
.o_calendar_filter
{
    display:none;
}
.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label
{
    min-width:160px;
}

.modal-dialog .o_form_view.o_form_nosheet
{
    padding-top: 7px;
}
div [name="access_groups"]
{
     margin-top: 40px;
}

.o_form_editable button[name="open_view_doc_form"]:not(.oe_kanban_action)
{
    display:none;
}
.o_form_editable button[name="open_signature_form"]:not(.oe_kanban_action)
{
    display:none;
}
.seen_by_me
{
    display:none;
}

.kanban_del
{
    display:none;
}
.o_form_editable .kanban_del
{
    display:block;
}
.modal-dialog .doc_view_form {
    margin-top: -8px;
    }

.o_kanban_record.not_seen
{
    border:2px solid #9c4784;
}

.profile-last-login {
    float: right;
    margin: 0 0px 10px 15px;
}

@media (max-width: 767px) {
.profile-last-login {
    margin: 0 0px 10px 0px;
    font-size: 11px;

}

.o_form_view .o_group.o_inner_group {
    width: 100%;
    clear: both;
    position: relative;
}

table.o_group.o_inner_group tr {
    width: 100%;
}
.o_form_view .o_group.o_inner_group:after, .o_form_view .o_group.o_inner_group:before{
    content:"";
    display:block;
    clear:both;
}

}
.o_form_view .oe_button_box + .oe_title, .o_form_view .oe_button_box + .oe_avatar + .oe_title{
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
}


}

.UserOdooLoginDetail{
    position:relative;
}

.UserOdooLoginDetail:after, .UserOdooLoginDetail:before{
    content:"";
    display:block;
    clear:both;
}
.youtubeVideoModal .modal-body {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}
.o_followers.o_field_widget
{
    display:none;
}
.profile-last-login {
    float: right;
    margin: 0 0px 10px 15px;
}

.o_user_menu.open .dropdown-menu > li:nth-child(1),
.o_user_menu.open .dropdown-menu > li:nth-child(2),
.o_user_menu.open .dropdown-menu > li:nth-child(3),
 .o_user_menu.open .dropdown-menu > li:nth-child(4)
{
    display:none;
}

.bootbox.modal.in
{
    z-index:90021;
}
.o_main_navbar
{
    z-index:9999;
}
.modal-header
{
    margin-top: 0;
    padding: 0;
}
.modal-header .close
{
    border: 1px solid #e6e6e6;
    color: white;
    opacity: 1;
    padding: 2px 6px 4px 6px;
    margin: 4px;
    background: red;
    border-radius: 9px;
}
.modal.o_technical_modal .modal-dialog
{
    padding:1%;
    margin:0;
    width:100%;
}
.modal.in
{
    top:46px;
}

.modal-title {
    text-align: center;
    margin: 8px 0
}
body.o_app_switcher_background nav:first-child
{
    display:none;
}

.modal-backdrop
{
    z-index:21
}
.crossdefal:hover {
    cursor: none;
}
.customClick
{
    cursor:pointer;
}
.customClick:focus{
    background: red !important;
}
.o_menu_systray span.un-read-msg{
    top: 5px;
    right: -10px;
    line-height: normal;
    padding: 0px 5px 1px;
}
.fa-file{

    cursor:pointer;
}

.un-read-msg
{
    background: #dc3545;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: -2px;
    z-index: 200;
     font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

#signature_editor{ width: 459px; height: 198px; margin-top:5px; margin-bottom:5px;}


@media (max-width: 540px) {
    #signature_editor{
    width: calc(100vw - 50px);
    margin:5px auto !important; }

    }

.acceptance_buttons_new
{
	display:flex;
}
.acceptance_buttons_new>div
{
	margin-left:5px;
}