<link rel="stylesheet" href="/static/assets/css/g.css" />
<div class="roster-full pt-2" style="display: none">
        <div class="container">        
            <div class="main-full-seachbar mb-3">
                
            </div>
        </div>
    <div class="container">
        <div class="group-height">
            <div class="d-flex align-items-center p-2 groups">
                <div class="img-flex img-circle">
                    <img src="http://localhost:8000/media/profile/image_2_YQzDKvn.jpeg"/>
                </div> 
                <div class="ml-2">
                    Ghulam Farid Alvi
                </div>
                <div class="ml-auto cross-btn">
                    <i class="fa fa-times text-white"></i>
                </div>
            </div>
            <div class="d-flex align-items-center p-2 groups">
                <div class="img-flex img-circle">
                    <img src="http://localhost:8000/media/profile/image_2_YQzDKvn.jpeg"/>
                </div> 
                <div class="ml-2">
                    Ghulam Farid Alvi
                </div>
                <div class="ml-auto cross-btn">
                    <i class="fa fa-times text-white"></i>
                </div>
            </div>
        </div>
        <!-- Buttons-->
        <div class="d-flex mt-2">
            <button class="btn btn-sm btn-success mr-2">
                Add people
            </button>
            <button class="btn btn-sm btn-danger">
                Close
            </button>
        </div>
    </div>
</div>
