.position_btns
{

}
.drag.btn
{
}
.sign-box.fa-lg
{
    margin-left:10px;
}
.new_sign
{

}


#signature_editor{ width: 459px; height: 198px; margin-top:5px; margin-bottom:5px;}

.youtubeVideoModal .modal-dialog{ width: 495px; }

@media (max-width: 540px) {
    .youtubeVideoModal .modal-dialog{ width: auto; }
    .youtubeVideoModal .modal-body{ padding:6px; }
    #signature_editor{ width: 295px; margin:5px auto !important; }

    .youtubeVideoModal .modal-dialog .modal-body{
    text-align: center;

}
    }



.DocsButtonWrapper:nth-child(1){
    margin:0;
}

/*#signature_editor
{
    padding: 0px;
    border: 1px solid #cccccc;
    margin: 3px 10px;
    width: 304px;
    height: 198px;
}*/

#signature_editor canvas
{
    border:1px solid;
}
.DocsBtn{
    min-width:85px;
    margin:2px;
}



.DocsButtonWrapper .btn:first-child, .DocsBtn.DocsBtnfirst{
    margin-left:0px;
}
.DocsButtonWrapper
{
font-size:14px; height:auto
}
.sign_embed
{
height:auto;  padding: 20px;border: 1px solid lightgray;
}
.embed-responsive
{
height:390px;
}
.sign_btn
{
margin:5px;
}


