<app-paginator></app-paginator>
<app-breadcrumb app="survey" model="survey" 
create="1" 
routes='[{"title":"Actions", "link":"/actions"}]'
title="Surveys"></app-breadcrumb>
<div class="router-outlet">

        <div class="container">
                <div class="MainTitleHeadWrap">
                        <div class="HeadingWrap">
                            <img src="static/assets/images/meeting-icon.png" alt="" /> Surveys
                        </div>
                        <div class="MeetingBtnWrapper">
                            <div class="btn-group">
                                <a routerLink="/votings" class="btn">Resolutions</a>
                                <a routerLink="/signdocs" class="btn">Esignature</a>
                                <a routerLink="/surveys" class="btn">Surveys</a>
                            </div>
                        </div>
                    </div>
            </div>

	<div class="container" *ngIf="no_meet" >
		<div class="row">
			<div class="col-lg-12 ">
				<div class="jumbotron text-center">
					<h1>No {{heading |titlecase}} for you :)</h1>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="kanban-card" *ngFor="let survey of survey_data">
				<div class="kanban-meeting-info">
					<a class="kanban-upcoming-meeting" routerLink="/survey/{{survey.id}}">
						<!--<div class="CalendarDateWrapper">-->
							<!--&lt;!&ndash; <span *ngIf="survey.open_date" class="CalendarDateWrap">-->
								<!--<span class="kanban-upcoming-meeting-date">-->
									<!--{{voting.open_date.day}}-->
								<!--</span>-->
								<!--<span>-->
									<!--{{voting.open_date.month_year}}-->
								<!--</span>-->
								<!--<span>-->
									<!--{{voting.open_date.time}}-->
								<!--</span>-->
							<!--</span> &ndash;&gt;-->
						<!--</div>-->
						<div class="Info">
							<p *ngIf="survey.name">
								<b>{{survey.name}}</b>
							</p>
							<span *ngIf="survey.description"><strong>Survey Description: </strong>{{survey.description}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
