<app-paginator></app-paginator>
<app-breadcrumb app="survey" model="survey" 
create="1" 
routes='[{"title":"Actions", "link":"/actions"}]'
title="Surveys"></app-breadcrumb>
<div class="router-outlet">

    <div class="container">
        <div class="MainTitleHeadWrap">
            <div class="HeadingWrap">
                <img src="static/assets/images/meeting-icon.png" alt="" /> Surveys
            </div>
            <div class="row MeetingBtnWrapper">
                <div class="btn-group">
                    <a routerLink="/votings" class="btn">Resolutions</a>
                    <a routerLink="/signdocs" class="btn">Esignature</a>
                    <a routerLink="/surveys" class="btn">Surveys</a>
                </div>
            </div>
        </div>
    </div>

	<div class="container" *ngIf="no_meet" >
		<div class="row">
			<div class="col-lg-12 ">
				<div class="jumbotron text-center">
					<h1>No {{heading |titlecase}} for you :)</h1>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
            <div class="col-sm-6 col-md-4 mb-4" *ngFor="let survey of survey_data">
                <div class="kanban-card">
                    <div class="kanban-meeting-info">
                        <div class="kanban-upcoming-meeting" routerLink="/survey/{{survey.id}}">                                                        
                            <div *ngIf="survey.open_date" class="CalendarDateWrapper">
                                <span class="CalendarDateWrap">
                                    <span class="kanban-upcoming-meeting-date">
                                        11 {{survey.open_date.day}} 11
                                    </span>
                                        <span>
                                        22 {{survey.open_date.month_year}} 22
                                    </span>
                                    <span>
                                        33 {{survey.open_date.time}} 33
                                    </span>
                                </span>
                            </div>
                            <div class="Info">
                                <p *ngIf="survey.name">
                                    <b>{{survey.name}}</b>
                                </p>
                                <span *ngIf="survey.description">
                                    Description: {{survey.description}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
