<app-breadcrumb app="survey" model="survey" 
create="1" 
routes='[{"title":"Actions", "link":"/actions"}]'
title="Surveys"></app-breadcrumb>
<div class="router-outlet">
    <div class="container">
        <div class="MainTitleHeadWrap">
            <div class="HeadingWrap">
                <img src="static/assets/images/committees.png" alt="" /> Surveys
            </div>
            <div class="MeetingBtnWrapper">
                <div class="btn-group">
                    <a routerLink="/votings" class="btn">Resolutions</a>
                    <a routerLink="/signdocs" class="btn">Esignature</a>
                    <a routerLink="/surveys" class="btn">Surveys</a>
                </div>
            </div>
        </div>
    </div>
    
	<div class="container">
		<div class="main-full-seachbar mb-3">
			<input type="text"
        (keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null"
        placeholder="Search..."  class="form-control"/>
		</div>
        <div class="row">
            <div class="col col-md-6 col-lg-4 mb-4" *ngFor="let survey of records">
                <div class="kanban-card position-relative">
                    <div class="kanban-meeting-info">
                        <div class="kanban-upcoming-meeting" routerLink="/survey/{{survey.id}}">
                            <div *ngIf="survey.open_date" class="CalendarDateWrapper">
                                <span class="CalendarDateWrap">
                                    <span class="kanban-upcoming-meeting-date">
                                        {{survey.open_date.day}}
                                    </span>
                                        <span>
                                        {{survey.open_date.month_year}}
                                    </span>
                                    <span>
                                        {{survey.open_date.time}}
                                    </span>
                                </span>
                            </div>
                            <div class="Info">
                                <p class="text-truncate" *ngIf="survey.name">
                                    <b>{{survey.name}}</b>
                                </p>
                                <span class=" text-truncate" *ngIf="survey.description">
                                    Description: {{survey.description}}
                                </span>
                                <span class="text-truncate" *ngIf="survey.meeting && survey.meeting.name">
                                    Meeting: {{survey.meeting.name}}
                                </span>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between" *ngIf="survey.is_published">
                            <div class="col">
                                <div class="bs-btnwrap survey-top-buttons" id="tdmrb{{survey.id}}" *ngIf="survey.is_respondent">
                                    <a *ngIf="!survey.is_attempted" class="btn" routerLink='/survey/survey/details/{{survey.id}}'>Start Survey</a>
                                    <a *ngIf="survey.is_attempted" class="btn" routerLink='/survey/{{survey.id}}/results'>Survey Results</a>
                                </div>
                                <div class="bs-btnwrap survey-top-buttons" id="tdmrb{{survey.id}}" *ngIf="!survey.is_respondent" [ngStyle]="{'border-top': '1px solid rgba(99, 143, 201, 0.25)'}">
                                    <!-- <a *ngIf="!survey.is_attempted" id="{{survey.id}}" class="btn btn-secondary" routerLink='/surveys'>No Results Yet</a> -->
                                    <a *ngIf="survey.is_attempted || !survey.is_attempted"  class="btn btn-secondary" routerLink='/survey/{{survey.id}}/results'>Survey Results</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="badge badge-warning mt-2 rounded-0 position-absolute" *ngIf="!survey.is_respondent">Not Respondent</span>                
                </div>
            </div>
        </div>
        <app-paginator *ngIf="records.length" (reload_data)="get_list()">
    </app-paginator>
    </div>
    <div class="container" *ngIf="no_meet" >
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="jumbotron text-center">
                        <h1>No {{heading |titlecase}} for you :)</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
</div>
