<!DOCTYPE html>
<html>
<head>


<title>Request Admin to Regenerate Link</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

{% if user %}
<h2>User Requests Data! Welcome {{user.username}}</h2></br></br>
<p>Click below on button regenerate link for activation</p>
<a href="{% url 'RequestAdmintoRegenLink' user.id %}" class="center-align btn btn-warning btn-sm">Request admin to Regenrate Link </a>
{% endif %}

</body>
</html> 
