{% extends 'auth.html' %}
{% block content %}
<form action="/account/ChangePasswordandLogin/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% comment %} 
  {{form.as_p}} 
  {% endcomment %}

  <p> Old Password </p>
  <input type="hidden" name="old_password" autofocus="" required="" id="id_old_password" >

 

  <p><label for="id_new_password1">New password:</label> <input type="password" name="new_password1" required="" id="id_new_password1"> 


  <p><label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" required="" id="id_new_password2"></p> 
 

  {% if IsError == False %}
  {{form.error_messages}}
  {% endif %}

  <br>
  <br><input type="submit" value="Change Password and Login" class="btn btn-success"> <br><br>
  
  <br>
  </form> 

  {% endblock %}