<link rel="stylesheet" href="/assets/css/components/profilesummary.css">
<form *ngIf="profile_data" class="details-card">
  <div class="container profile_summary_popup">
      <div class="row my-5">
          <div class="col-sm-12 col-md-4 mb-2">
              <div class="ProfileUserNameJonbWrapper">
                  <div class="ProfileChangeSaveWrapper img-flex mb-1">
                      <img *ngIf="profile_data.photo" src="{{socketService.server_url}}{{profile_data.photo}}">
                      <img *ngIf="!profile_data.photo"  src="static/assets/images/no-profile.png">
                  </div>

                  <div  *ngIf="profile_data.name">
                      <div class="UserProfileNameTittle text-truncate text-primary">
                          {{profile_data.name}}
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-8 ProfileInfoTittleWrapper">
                <div class="container">
                    <div class="row" *ngIf="profile_data.email">
                        <div class="col-12 p-0">
                            <label for="email" class="font-weight-bold text-primary">
                                Email
                            </label>
                        </div>
                        <div class="col-12 profile-border-bottom p-0 pb-2 mb-2">
                            <div class="text-truncate">
                                {{profile_data.email}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="profile_data.mobile_phone">
                        <div class="col-12 p-0">
                            <label for="mobile_phone" class="font-weight-bold text-primary">
                                Phone
                            </label>
                        </div>
                        <div class="col-12 p-0 profile-border-bottom pb-2 mb-2">
                            <div class="text-truncate">
                                {{profile_data.mobile_phone}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="profile_data.company">
                        <div class="col-12 p-0">
                            <label for="company" class="font-weight-bold text-primary">
                                Company
                            </label>
                        </div>
                        <div class="col-12 p-0 profile-border-bottom pb-2 mb-2">
                            <div class="text-truncate">
                                {{profile_data.company}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="profile_data.groups && profile_data.groups.length > 0">
                        <div class="col-12 p-0">
                            <label for="company" class="font-weight-bold text-primary">
                                Role
                            </label>
                        </div>
                        <div class="col-12 p-0 profile-border-bottom pb-2 mb-2">
                            <div class="committee-member-section">
                                <span *ngFor="let group of profile_data.groups">
                                    <span class="committee-member" >{{group.name}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
  <a class="cancel_button" (click)="activeModal.close('Close click')"><i class="fa fa-times"></i></a>
</form>
