<form *ngIf="profile_data" class="details-card">
  <div class="container">
      <div class="row mb-3">
          <div class="col-sm-12 col-md-3 col-lg-2">
              <div class="ProfileUserNameJonbWrapper">
                  <div class="ProfileChangeSaveWrapper">
                      <img *ngIf="profile_data.photo" class="img-thumbnail-lg" src="{{socketService.server_url}}{{profile_data.photo}}">
                      <img *ngIf="!profile_data.photo" class="img-thumbnail-lg" src="static/assets/images/no-profile.png">
                  </div>

                  <div  class="row" *ngIf="profile_data.name">
                      <div class="col-sm-12 UserProfileNameTittle">
                          {{profile_data.name}}
                      </div>
                  </div>

                  <div *ngIf="profile_data.job_title" class="row">
                      <div class="col-sm-12 UserProfileDiscripTittle">
                          {{profile_data.job_title}}
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-9 offset-md-1 offset-lg-1 ProfileInfoTittleWrapper">
              <div class="ProFileHeadWrap">
                  PERSONAL INFO
              </div>
              <div *ngIf="profile_data.mobile_phone" class="row mb-2">
                  <div class="col-sm-3">
                      <label for="mobile-phone">
                          <b>Mobile Phone</b>
                      </label>
                  </div>
                  <div class="col-sm-9 UserProfileDiscription">
                      {{profile_data.mobile_phone}}
                  </div>
              </div>
              <div *ngIf="profile_data.email" class="row mb-2">
              <div class="col-sm-3">
                  <label for="email">
                      <b>Email</b>
                  </label>
                  </div>
                  <div class="col-sm-9 UserProfileDiscription">
                      {{profile_data.email}}
                  </div>
              </div>
              <div *ngIf="profile_data.birth_date" class="row mb-2">
                  <div class="col-sm-3">
                      <label for="birth_date">
                          <b>Birth Date</b>
                      </label>
                  </div>
                  <div class="col-sm-9 UserProfileDiscription">
                      {{profile_data.birth_date}}
                  </div>
              </div>
              <div *ngIf="profile_data.location" class="row mb-2">
                  <div class="col-sm-3">
                      <label for="location">
                          <b>Location</b>
                      </label>
                  </div>
                  <div class="col-sm-9 UserProfileDiscription">
                          {{profile_data.location}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
<button type="button" class="btn btn-outline-dark close-btn" (click)="activeModal.close('Close click')">Close</button>