{% extends 'header.html' %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    <div class="router-outlet Login-form-wrapper">
        <link rel="stylesheet" href="/static/assets/css/login.css" />
        <span class="loginshape01"><img async class="img-fluid" src="/static/assets/images/loginshape-01.png" /> </span>
        <span class="loginshape02"><img async class="img-fluid" src="/static/assets/images/loginshape-02.png" /> </span>
        <span class="loginshape03"><img async class="img-fluid" src="/static/assets/images/loginshape-03.png" /> </span>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-10 col-md-5 col-xl-5">
                    <div class="login-form-div">
                       <h2>
                        You are currently offline please check your internet connection.
                       </h2>
                    </div>
                </div>
                <div class="col-md-7 text-center d-none d-md-block d-lg-block">
                    <img async class="img-key" src="/static/assets/images/login-vector.png" />
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
	    
    {% block footer_javascript %}

    <script>
        console.log(Date());
    </script>

    <script async type="text/javascript" src="/static/assets/js/json.js"></script>
   
	<link rel="stylesheet" type="text/css" href="/static/assets/css/boardsheet.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/libs/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-awsome-5.5.0.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-roboto-3.4.5.7.9.css" />
	
  <link rel="stylesheet" type="text/css" href="/static/assets/css/secondary.css" />

    <script>
        console.log(Date());
    </script>
    {% endblock %}
