<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boardsheet</title>
  <!--  <link rel="shortcut icon" href="">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" /> -->
    <style>
        button[type="submit"]:disabled{
            background-color: grey;
        }
        .password-box{
            background: #f9f9f9;
            border: 1px solid #eaeaea;
            padding: 15px;
            margin-top: 80px;
        }

        .pass_show{position: relative} 

        .pass_show .ptxt { 
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #f36c01;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        } 

        .pass_show .ptxt:hover{color: #333333;}

        .pass_rules li{
            color: red;
            font-weight: 700;
        }

        .valid-password{
            color: Green !important;
        }
    </style>
</head>

<body class="app sidebar-mini rtl sidenav-toggled public">
    <script>
        console.log(Date());
    </script>
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    <div class="router-outlet Login-form-wrapper">
        <span class="loginshape01"><img async class="img-fluid" src="/static/assets/images/loginshape-01.png" /> </span>
        <span class="loginshape02"><img async class="img-fluid" src="/static/assets/images/loginshape-02.png" /> </span>
        <span class="loginshape03"><img async class="img-fluid" src="/static/assets/images/loginshape-03.png" /> </span>
        <div class="container">
                            <div class="router-outlet" style="padding-bottom: 0;">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-10 col-md-6 col-lg-4">
                                                <div class="password-box">
                                                    <label>New Password</label>
                                                    <div class="form-group pass_show">
                                                        <input class="new-password" type="password" class="form-control" placeholder="New Password">
                                                        <span class="ptxt">Show</span>
                                                    </div>
                                                    <label>Confirm Password</label>
                                                    <div class="form-group pass_show">
                                                        <input class="confirm-password" type="password" class="form-control" placeholder="Confirm Password">
                                                        <span class="ptxt">Show</span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <span>
                                                                <span>
                                                                    Please set password according to the following
                                                                </span>
                                                                <ul class="pass_rules">
                                                                    <li class="lower-case-rule">At least one lower case letter</li>
                                                                    <li class="uper-case-rule">At least one upper case letter</li>
                                                                    <li class="numeric-rule">At least one numeric chracter</li>
                                                                    <li class="special-char-rule">At least one special chracter</li>
                                                                    <li class="max-8-char-rule">Minimume 8 chracters</li>
                                                                    <li class="password-match-rule">Password
                                                                        Does not Match</li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-primary submit-btn" disabled>Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
          
        </div>
    </div>
    <script type="text/javascript" src="/static/assets/libs/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="/static/assets/config.js" id="config_script"></script>	
    <script type="text/javascript" src="/static/assets/js/simple_ajax.js"></script>
    <script async type="text/javascript" src="/static/assets/js/main.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/login.css" />

	<link rel="stylesheet" type="text/css" href="/static/assets/css/boardsheet.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
    <script src="/static/assets/js/change_password.js"></script>
    <script type="text/javascript" src="/static/assets/js/set_password.js"></script>
    
	<link rel="stylesheet" type="text/css" href="/static/assets/libs/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-awsome-5.5.0.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-roboto-3.4.5.7.9.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/libs/css/fullcalendar.css"/>
	<link rel="stylesheet" type="text/css" href="/static/assets/annotator/shared/pdf.viewer.css"/>
	<link rel="stylesheet" type="text/css" href="/static/assets/annotator/shared/custom.css"/>    
	<link rel="stylesheet" type="text/css" href="/static/assets/css/emoji.css" />

	<script async type="text/javascript" src="/static/assets/js/json.js"></script>
    <script async type="text/javascript" src="/static/assets/js/datetime.js"></script>
    
	<script type="text/javascript" src="/static/assets/libs/js/moment.js"></script>
    <script async type="text/javascript" src="/static/assets/libs/js/fullcalendar.min.js"></script>

	<script async type="text/javascript" src="/static/assets/libs/js/socket.io.js"></script>

	<script async type="text/javascript" src="/static/assets/libs/js/jquery-ui.min.js"></script>
    <script async type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
	<script async src="/static/assets/libs/toggler/toggler.js"></script>
	<script async type="text/javascript" src="/static/assets/libs/js/bootbox.js"></script>
	<script async type="text/javascript" src="/static/assets/libs/js/jquery.ui.touch-punch.min.js"></script>

	<script async type="text/javascript" src="/static/assets/libs/js/jquery.mark.min.js"></script>
    <script async type="text/javascript" async src="/static/assets/libs/js/mark.min.js"></script>

    <link href="/static/assets/libs/toggler/toggler.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/libs/select2/select2.css" />
    <link rel="stylesheet" href="/static/assets/libs/select2/default.theme.css" />
    
    <script async type="text/javascript" src="/static/assets/libs/select2/select2.js"></script>

    <script async type="text/javascript" src="/static/assets/emoji/js/emoji-picker.js"></script>
    <script async type="text/javascript" src="/static/assets/js/chart.js"></script>

	<script async type="text/javascript" src="/static/assets/annotator/shared/pdf.js"></script>
	<script async type="text/javascript" src="/static/assets/annotator/shared/pdf.viewer.js"></script>
	<script async type="text/javascript" src="/static/assets/annotator/annotator.js"></script>

	<script async type="text/javascript" src="/static/assets/js/custom_chart.js"></script>	
    <script async type="text/javascript" src="/static/assets/js/custom_signature.js"></script>
	<script async type="text/javascript" src="/static/assets/js/popup.js"></script>

    <script async type="text/javascript" src="/static/assets/rtc/adapter.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/RTCMultiConnection.min.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/getScreenId.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/getHTMLMediaElement.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/conference.js"></script>
    <script async src="/static/assets/js/doc_preview.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/secondary.css" />
    <script>
        console.log(Date());
    </script>
</body>
</html>