<div class=" breadcrumbSection">
    <div class="edit-buttons" *ngIf="folder">
        <a class="btn btn-primary" routerLink="/edit/resources/folder/{{folder.id}}/change">Edit</a>
        <a class="btn btn-danger" routerLink="/edit/resources/folder/{{folder.id}}/delete">Delete</a>
    </div> 
    <ul class="breadcrumb" *ngIf="folder && folder.parents">
        <li class="breadcrumb-item">                                                
            <a routerLink="/resources">
                Resources
            </a>
        </li>
        <li class="breadcrumb-item" *ngFor="let parent of folder.parents">                                                
            <a routerLink="/resource/{{parent.id}}">
                {{parent.name}}
            </a>
        </li>
        <li class="breadcrumb-item active">{{folder.name}}</li>
    </ul>
</div>

<div class="router-outlet">        
    <div *ngIf="folder">       
        <div class="cards container">
			<div class="row" *ngIf="!(no_files)">
				<div class="col-lg-12">
					<div class="MainTitleHeadWrap ResourcesHeadWrapper">
						<div class="HeadingWrap">
							<i class="icon-doc-file"></i> Files
						</div>
					</div>
				</div>
			</div>
			<div class="main-full-seachbar mb-3">
			<input type="text" 
				(keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null" 
				placeholder="Search..."  class="form-control"/>
            </div>
            <div class="row docwrappercontainer">				
				<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4"  *ngFor="let doc of folder.files">
					<a routerLink="/resource/doc/{{doc.id}}" class="">
						<div class="DocumentWrapper">
							<div class="DocIcon">
								<span class="rounded-circle">
									<i class="icon-doc-file"></i>
								</span>
							</div>
							<div class="DocInfoVertical text-truncate">
								{{doc.name}}
							</div>
						</div>
					</a>
                </div>    
            </div>
			

			<app-paginator *ngIf="folder.files.length" (reload_data)="get_list()">                
            </app-paginator>

			<div *ngIf="folder.sub_folders.length">
				<div [ngClass]="{'pt-5': folder.total > httpService.limit}" *ngIf="!(no_folders)">
					<hr *ngIf="folder.files.length">
					<div class="mt-3 HeadingWrap ResourcesHeadWrapper">
						<i class="icon-folder"></i> Sub Folders
					</div>				
				</div>
				
				<div class="row docwrappercontainer docs-colr-them">
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let folder of folder.sub_folders">
						<a routerLink="/resource/{{folder.id}}" class="">
							<div class="DocumentWrapper">
								<div class="DocIcon">
									<span class="rounded-circle">
										<i class="icon-folder"></i>
									</span>
								</div>
								<div class="DocInfoVertical text-truncate">
									{{folder.name}}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
