<div class="breadcrumbSection">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">                                                
            <a routerLink="/resources">
                Resources
            </a>
        </li>
        <li class="breadcrumb-item" *ngFor="let parent of parents">                                                
            <a routerLink="/resource/{{parent.id}}">
                {{parent.name}}
            </a>
        </li>
        <li *ngIf="folder && folder.name" class="breadcrumb-item active">{{folder.name}}</li>
    </ul>
    <div class="edit-buttons" *ngIf="socketService.admin_mode">		
	</div>
</div>

<div class="router-outlet">
    <div class="container">
        <div class="main-full-seachbar mb-3 mt-3">
            <input type="text"
            (keyup)="$event.keyCode == 13 ? search($event): null"
            (change)="search($event)" 
            placeholder="Search..."  class="form-control"/>
        </div>

        <div class="sub_folders" *ngIf="!reloading && (search_type != 'files' || socketService.admin_mode)">
            <div class="pb-3" >
                <hr>
                <div class="mt-3 HeadingWrap ResourcesHeadWrapper">
                    <i class="icon-folder"></i>Folders
                </div>
            </div>
            <app-folders
            search_kw="{{last_kw}}"
            (data_loaded)=data_loaded($event)
            parent_id="{{folder_id}}"></app-folders>
        </div>
        
        <div *ngIf="!reloading && (show_files || folder_id) && search_type != 'folders'">                
            <div class="row">
                <div class="col-lg-12">
                    <div class="MainTitleHeadWrap ResourcesHeadWrapper">
                        <div class="HeadingWrap">
                            <i class="icon-doc-file"></i> Files
                        </div>
                    </div>
                </div>
            </div>
            <app-documents
                search_kw="{{last_kw}}"
                parent_model="Folder" 
                parent_field="folder_id" 
                parent_id="{{folder_id}}"
                show_files="{{show_files}}"
                res_app="resources" res_model="ResourceDocument">
            </app-documents>
        </div>
        
    </div>
</div>