<div class="breadcrumbSection">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">                                                
            <a routerLink="/resources">
                Resources
            </a>
        </li>
        <li class="breadcrumb-item" *ngFor="let parent of parents">                                                
            <a routerLink="/resource/{{parent.id}}">
                {{parent.name}}
            </a>
        </li>
        <li *ngIf="folder && folder.name" class="breadcrumb-item active">{{folder.name}}</li>
    </ul>
    <div class="edit-buttons" *ngIf="socketService.admin_mode">		
	</div>
</div>

<div class="router-outlet">
    <div class="container resources">
        
        <div class="sub search pt-4">
            <div class="input-group d-flex main-full-seachbar mb-3">
                <input id="search_input" type="text" [(ngModel)]="search_options.search_kw"
                    (change)="search()"
                    (keyup)="$event.keyCode == 13 ? search(): null"
                    placeholder="Search..." class="form-control py-2 border-0">
                <span class="">
                    <button class="btn bg-white border-left" 
                    (click)="advance_search=!advance_search;advance_search_toggled()">
                        <i class="fa fa-cog text-muted bold-setting small"></i>
                    </button>

                    <button class="btn bg-white border-left" 
                    (click)="search()">
                        <i class="fa fa-search text-primary"></i>
                    </button>                    
                </span>
            </div>
        </div>

        <div class="search_options">
            <span>
                <input type="radio" name="search_type" 
                (change)="search('files')"
                [checked]="search_options.search_type == 'files'"
                value="files"  />
                <label>Files</label>
            </span>
            
            <span>
                <input type="radio" name="search_type" 
                (change)="search('folders')"
                [checked]="search_options.search_type == 'folders'"
                value="folders"  />
                <label>Folders</label>
            </span>
            
            <span>
                <input type="radio" name="search_type" 
                (change)="search('all')"
                [checked]="search_options.search_type == 'all'"
                value="all"  />
                <label>All</label>
            </span>
            
            <span>
                <input type="checkbox"
                [checked]="search_options.recursive"
                (change)="search('recursive')"
                name="recursive" />
                <label>Recursive</label>
            </span>
            
        </div>
        

        <div class="sub_folders" *ngIf="!reloading && search_options.search_type != 'files'">
            <div class="pb-3" >
                <hr>
                <div class="mt-3 HeadingWrap ResourcesHeadWrapper">
                    <i class="icon-folder"></i>Folders
                </div>
            </div>
            <app-folders
            search_kw="{{search_options.search_kw}}"
            recursive="{{search_options.recursive}}"
            search_type="{{search_options.search_type}}"
            (data_loaded)=data_loaded($event)
            parent_id="{{folder_id}}"></app-folders>
        </div>
        <div *ngIf="!reloading && (search_options.recursive || folder_id) && search_options.search_type != 'folders'">                
            <div class="row">
                <div class="col-lg-12">
                    <div class="MainTitleHeadWrap ResourcesHeadWrapper">
                        <div class="HeadingWrap">
                            <i class="icon-doc-file"></i> Files
                        </div>
                    </div>
                </div>
            </div>
            <app-documents
                search_kw="{{search_options.search_kw}}"
                recursive="{{search_options.recursive}}"
                search_type="{{search_options.search_type}}"
                parent_model="Folder" 
                parent_field="folder_id" 
                parent_id="{{folder_id}}"
                res_app="resources" res_model="ResourceDocument">
            </app-documents>
        </div>
        
    </div>
</div>