#chatbox{
    position:fixed;
    z-index:5;
    bottom:0;
    display:none;
}

#online-users-list{
    display:none;
    position: fixed;
    min-width: 350px;
    height: 100vh;
    top: 46px;
    right: 0;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.chat, .chat:after, .chatbox {
    transition: all .4s ease-in-out
}

.chat, .close-chat, .minim-button, .maxi-button, .chat-text {
    font-weight: 700;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 20px;
    line-height: 20px
}

.chat-text {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
}

.chat, .close-chat, .chatbox {
    border: 1px solid #A8A8A8;
}

.chat:after, .chat:before {
    position: absolute;
    border-style: solid;
    content: ""
}

.chatbox {
    max-width: 350px;
    position: fixed;
    bottom: 0;
    left: 50px;
    /* margin: 0 0 -1500px; */
    background: #fff;
    border-bottom: none;
    padding: 28px 0px 10px;
    z-index: 100000;
    overflow: hidden;
}

.smartchatbox{
    width: 104%;
    height: 300px;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.close-chat {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 24px;
    border: 1px solid #dedede;
    width: 20px;
    background: #fefefe;
    z-index: 2
}

.minim-chat, .maxi-chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 1
}

.minim-button {
    position: absolute;
    top: 2px;
    right: 26px;
    font-size: 24px;
    border: 1px solid #dedede;
    width: 20px;
    background: #fefefe
}
.close-button {
    position: absolute;
    top: -3px;
    right: 0px;
    font-size: 24px;
    border: 1px solid #dedede;
    width: 20px;
    background: #fefefe
}

.maxi-button {
    position: absolute;
    top: 2px;
    right: 26px;
    font-size: 24px;
    border: 1px solid #dedede;
    width: 20px;
    background: #fefefe;
}

.chat {
    width: fit-content;
    border-radius: 3px;
    padding: 0 8px;
    font-size: 12px;
    background: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin: 20px;
}

.o_menu_systray .chat
{
    margin: 10px;
}

.chat:before {
    border-width: 10px 11px 0 0;
    border-color: #A8A8A8 transparent transparent;
    left: 7px;
    bottom: -10px
}

.chat:after {
    border-width: 9px 8px 0 0;
    border-color: #fff transparent transparent;
    left: 8px;
    bottom: -8px
}

.chat:hover {
    background: #ddd;
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.chat:hover:after {
    border-color: #ddd transparent transparent!important;
}

.animated-chat {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

#send_btn{
    background: #9c4784;
    color: white;
    font-weight: bolder;
}

.icon{
    font-size: 14px;
    position: absolute;
    right: 2px;
    bottom: 5px;
}

.messages ul li.sent p {
    background: #9c4784;
    color: #f5f5f5;
}

.messages ul li.replies p {
    background: #e1cedc9c;
    float: right;
}

.messages ul li {
    display: inline-block;
    clear: both;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

#messages ul{
    margin: 0;
    padding-left: 20px;
}

.messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1)
    }
    10%,20% {
        -webkit-transform: scale(.9)rotate(-3deg)
    }
    30%,50%,70%90% {
        -webkit-transform: scale(1.1)rotate(3deg)
    }
    40%,60%,80% {
        -webkit-transform: scale(1.1)rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1)rotate(0)
    }
}

@keyframes tada {
    0% {
        transform: scale(1)
    }
    10%,20% {
        transform: scale(.9)rotate(-3deg)
    }
    30%,50%,70%,90% {
        transform: scale(1.1)rotate(3deg)
    }
    40%,60%,80% {
        transform: scale(1.1)rotate(-3deg)
    }
    100% {
        transform: scale(1)rotate(0)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada
}

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

.contact{
    cursor: pointer;
    background: silver;
    color: black;
    font-weight: bolder;
}

.fa-user-cog, .fas fa-user-circle{
    margin-right: 3px;
    margin-left: 10px;
}
li.showmouseawaybutton
{
    position:relative;
}
#unseen-msg-counter
{
    color: white;
    background: red;
    border-radius: 25px;
    padding: 0px 4px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    display:none;
}

.image-circular{
    width:25px;
    height:25px;
    border-radius:25px;
    margin-right:10px;
}

.user_count{
    left: 50%;
    background: red;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
    padding: 3px 8px;
}

#online-users-list .list-group-item
{
    cursor:pointer;
}
.chatt{
margin:16px;
cursor:pointer;
}

