<div class="notification-container">
    <div class="main-user-navbar">
        <div class="mobile-chatroom nav-icon dropdown">
            <button (mouseup)="toggle_notifications($event)"
            class="showmouseawaybutton notification-icon">
               <i class="icon-noti"></i>
            </button>
            <span class="un-read-msg" *ngIf="socketService.notificationList.length > 0">{{socketService.notificationList.length}}</span>
        </div>
    </div>
    
    <div class="container right-panel notification-list hidemouseaway">
        <div (click)="close_right_panel()" class="chat-list-close">
            <i class="fas fa-times"></i>
        </div>
        <ul class="chat-items list-group">
            <li *ngFor="let note of socketService.notificationList">                
                <a *ngIf="note.counter > 0"  class="list-group-item contact"                    
                    routerLink="{{note.client_route}}">
                    <div style="display: contents;" class="wrap">
                        {{ note.body }}
                    </div>
                </a>
            </li>
            <li *ngIf="socketService.notificationList.length == 0" class="list-group-item contact">
                No New Notifications
            </li>
        </ul>
    </div>
</div>
