<div *ngIf="docs.length || socketService.admin_mode" >
    <div class="doc_container">
        <h3 class="text-dark pb-3">
            <i class="icon-doc-file text-primary"></i> {{title}}
        </h3>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let doc of docs">
            <a class="DocumentWrapper gray-bg" routerLink="{{roterLinkPrefix+doc.id}}">
                <div *ngIf="!deleting && socketService.admin_mode && !readonly" class="doc-del-btn"
                (click)="delete_file($event, doc.id)">
                    <i class="far fa-trash-alt pointer" ></i>
                </div>                
                <div class="p-1 pos-abs" style="left:5px">
                    <img height="20px" width="20px" src="{{get_icon_url(doc.access_token)}}" alt="" class="doc_icons">
                </div>
                <div class="DocIcon">
                    <span class="rounded-circle">
                        <i class="icon-doc-file"></i>
                    </span>
                </div>
                <div class="DocText" (click)="renameService.prevent_default($event, doc)">
                    <div class="DocName">
                        <div *ngIf="!doc.edit_mode" [ngClass]="{'d-flex justify-content-between align-items-center': socketService.admin_mode}">
                            <span class="text-truncate doc-info">{{doc.name}}</span>
                            <button (click)="renameService.enable_rename($event, doc)" *ngIf="socketService.admin_mode" class="btn btn-sm btn-primary ml-2 mr-1">
                                <i class="fas fa-edit "></i>
                            </button>
                            <button *ngIf="res_model=='ResourceDocument' && socketService.admin_mode" 
                            (click)="userService.get_access_details(doc,'resources','ResourceDocument', parent)" class="btn btn-sm btn-primary">
                                <i class="fa fa-user-plus"></i>
                            </button>
                        </div>
                        <div *ngIf="doc.edit_mode" [ngClass]="{'d-flex justify-content-between align-items-center': socketService.admin_mode}">
                            <input class="form-control renamer"
                                (blur)="renameService.renamer_focused_out($event,doc,'file')"
                                (keyup)="renameService.renamer_focused_out($event,doc,'file')"												
                                value="{{doc.name}}"
                                (change)="renameService.renamer_changed($event.target)">
                            <button 
                            class="fri-selt-btn check-time-btn" 
                            aria-label="rename file.">
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="docs && docs.length">
        {{docs.length}} documents
    </div>
    <div *ngIf="socketService.admin_mode && !readonly">        
        <input class="dlc-file-picker" type="file" name='files[]' multiple/>
    </div>
</div>