<div>
    <div class="main-full-seachbar mb-3" *ngIf="socketService.admin_mode && !readonly">
        <input type="text" 
				(keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null" 
				placeholder="Search..."  class="form-control"/>  
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let doc of docs">
            <a class="DocumentWrapper gray-bg" routerLink="{{roterLinkPrefix+doc.id}}">
                <div *ngIf="!deleting && socketService.is_admin && !readonly" class="doc-del-btn"
                (click)="delete_file($event, doc.id)">
                    <i class="far fa-trash-alt pointer" ></i>
                </div>                
                
                <div class="DocIcon">
                    <span class="rounded-circle">
                        <i class="icon-doc-file"></i>
                    </span>
                </div>
                <div class="DocText">
                    <div class="DocName">
                        <span *ngIf="!socketService.admin_mode || readonly" class="text-truncate">{{doc.name}}</span>
                        <input class="form-control renamer" *ngIf="socketService.admin_mode && !readonly" value="{{doc.name}}" (change)="change_file_name($event,doc.id)" (click)="start_rename($event)" >
                    </div>              
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="socketService.admin_mode && !readonly">        
        <input id="dlc-file-picker" type="file" name='files[]' multiple/>
    </div>
</div>
