<!-- <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let doc of docs">
        <a class="DocumentWrapper gray-bg" routerLink="routerLink">
            <div class="DocIcon">
                <span class="rounded-circle">
                    <i class="icon-e-sign"></i>
                </span>
            </div>
            <div class="DocText">
                <div class="DocName text-truncate">
                    <h5 class="text-truncate">{{doc.name}}</h5>
                </div>
                <div *ngIf="doc.signature_status">
                    <div *ngIf="doc && doc.meeting__name" class="DocMeeting">
                        Meeting: {{doc.meeting__name}}
                    </div>
                    <div class="SignatureText font-11">
                        <span>Status: </span>
                        <span class="pending-status">{{doc.signature_status}}</span>
                    </div>
                </div>                
            </div>
        </a>
    </div>
</div> -->