.kanban-profile-card{
    background: #f3f3f3;
    border: 1px solid #f1eeee;
    padding: 10px 10px 7px;
    border-radius: 3px;
}
.kanban-profile-card a{
    color: #43425D;
}
.profile-images{
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-kanbann{
    display: none;
}
@media screen and (max-width:992px){
    .row.no-gutters .col-3{
        display: none;
    }
}
@media screen and (max-width:576px){
    .kanban-profile-card img{
        display:none;
    }
    .d-none{
        display: block !important;
    }
}
@media screen and (max-width:480px){
    .d-none{
        display: none !important;
    }
    .mobile-kanbann{
        display: block;
    }
}