<div class="container">
	<!-- <link rel="stylesheet" href="static/assets/css/components/paginator.css"> -->
	<div class="odoo-navigation">
		<div class="odoo-navigation-container">
			<div class="odoo-navigation-page-size ng-star-inserted">
				<div class="odoo-navigation-page-size-label">Items per page:</div>
				<div class="odoo-navigation-page-size-select m">
					<div class="odoo-navigation-mat-form-field-flex">
						<select (change)="change_limit()" [(ngModel)]="limit" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
							<option *ngFor="let opt of limit_options">{{opt}}</option>
						</select>
					</div>
				</div>
				<div class="odoo-navigation-range-actions">
					<div class="odoo-navigation-range-label">
						<span *ngIf="total_records > 0">{{off_set + 1}}</span>
						<span *ngIf="total_records <= 0">0
						</span> - {{off_set+count}} of {{total_records}}
					</div>
                    <button [disabled]="off_set === 0"
                    (click)="change_page(-limit)"
                    class="odoo-navigation-navigation-previous">
						<i class="fa fa-chevron-left"></i>
					</button>
					<button [disabled]="off_set+count >= total_records"
                        (click)="change_page(limit)"
                        class="odoo-navigation-navigation-next">
						<i class="fa fa-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

