<div>
    <div class="paging-meta">
        <div class="page-limit">
            <span>Items per page:</span>    
            <select (change)="change_limit($event)" [(ngModel)]="httpService.limit" class="form-control-sm">
                <option *ngFor="let opt of limit_options">{{opt}}</option>
            </select>
            <span>Total Records: {{httpService.count}}</span>
        </div>
        <h4>Hii {{httpService.count}}</h4>
        <div *ngIf="httpService.limit<httpService.count" class="pages" aria-label="Page navigation example">
            <ul class="pagination  justify-content-center" >
                <li class="page-item" [class.disabled]="httpService.offset<= '0'" >
                    <button (click)="first_Page(0)" class="page-link">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-offsetchevron-left"></i>
                    </button>
                </li>
                <li class="page-item" [class.disabled]="httpService.offset<= '0'">
                    <button (click)="change_page(-1)" class="page-link">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </li>
                <ul class="pagination" *ngFor="let obj of shown_pages">
                    <li class="page-item" [class.active]="page_number == obj" >                            
                        <button  (click)="page_Data(obj)" class="page-link">
                            {{obj}}
                        </button>                             
                    </li>
                </ul>
                <li class="page-item" [class.disabled]="httpService.ffset + httpService.limit >= httpService.count">
                    <button (click)="change_page(1)" class="page-link">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </li>
                <li class="page-item" [class.disabled]="httpService.offset + httpService.limit >= httpService.count">
                    <button (click)="last_Page(httpService.count)" class="page-link">
                        <i class="fa fa-chevron-right"></i>
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </li>                    
            </ul>
        </div>
    </div>
</div>
