.paging-meta .page-limit
{
    float: left;
}
.paging-meta .pages
{
    float: right;
}
.paging-meta select
{
    width: 65px;
    display: inline;    
    margin: 0 5px;
}
li.page-item.disabled .page-link{
    background-color: silver;
}