.board-sheet-paginator{
    float: right;
}
.paging-meta .page-limit
{
    float: left;
}
.paging-meta .pages
{
    float: left;
}
.paging-meta select
{
    width: 75px;
    display: inline;    
    margin: 0 5px;
}
.board-sheet-paginator li.page-item.disabled .page-link{
    background-color: #e6e6e6;
}
.board-sheet-paginator .pagination li.page-item {
    margin: 0 3px;
}
.board-sheet-paginator .pagination-sm .page-link{
	padding:4px 10px;
}

@media screen and (max-width:420px){
    .board-sheet-paginator .pagination-sm .page-link{
        padding: 0px 5px;
    }
}
