

                        .top_btns {
                        background: rgb(50, 54, 57);
                        text-align: center;
                        width: 98.9%;
                        margin-bottom: -18px;

                        }
                        .position_btns{
                        z-index:999
                        }

                        .pg_no{
                        color: white;
                        }

                        .doc_btn {
                        background-color: gray;
                        color: white;
                        margin: 2px;
                        }


                        .edit_sign:hover,.del_sign:hover {
                        background-color: white;
                        color:red!important

                        }

                        .PdfTopBtnsWrapper {
                        padding: 4px;
                        }

                        #scaleSelectContainer select#scaleSelect {
                        background: white;
                        margin-left: 3px;
                        border: navajowhite;
                        padding: 5px 10px;
                        font-size: 12px;
                        border-radius: 3px;
                        height: 29px;
                        }

                        .PdfButtonWrapper {
                        background: #ffffff;
                        padding: 5px;
                        }
                        .PdfButtonWrapper .btn {
                        min-width: 130px;
                        margin:3px;
                        }
                        #the-canvas{
                        border-left:1px solid #000000;
                        border-top:1px solid #cacaca;
                        border-right:1px solid #000000;
                        border-bottom:1px solid #000000;
                        }


                        .modal-title {
                        text-align: center;
                        }

                        #page_container1
                        {
                            overflow-y:auto;overflow-x:auto;position:relative;
                        }
                        #page_container
                        {
                        overflow-y:auto;overflow-x:auto;text-align: initial;position:relative;display: inline-block;
                        }

                        .modal-body.o_act_window {
                        overflow: auto;
                        max-height: calc(100vh - 200px);
                    }