.odoo-navigation {
    padding: 5px 0;
}

.odoo-navigation-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 56px;
	padding: 0;
	flex-wrap: wrap-reverse;
}

.odoo-navigation-page-size {
	display: flex;
	align-items: baseline;
}

.odoo-navigation, .odoo-navigation-page-size .mat-select-trigger {
	color: rgba(0,0,0,.54);
}

.odoo-navigation, .odoo-navigation-page-size .mat-select-trigger {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 12px;
}

.odoo-navigation-page-size-label {
	margin: 0 4px;
}

.mat-form-field {
	display: inline-block;
	position: relative;
	text-align: left;
}

.mat-form-field {
	text-align: left;
}

.mat-form-field {
	font-size: inherit;
	font-weight: 400;
	line-height: 1.125;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.odoo-navigation-mat-form-field-flex {
	cursor: pointer;
}

.odoo-navigation-mat-form-field-flex {
	display: inline-flex;
	align-items: baseline;
	box-sizing: border-box;
	width: 100%;
}

.odoo-navigation, .odoo-navigation-page-size .mat-select-trigger {
	color: rgba(0,0,0,.54);
}

.odoo-navigation-page-size-select {
	margin: 6px 4px 0 4px;
	width: auto;
}

.mat-form-field {
	font-size: inherit;
	font-weight: 400;
	line-height: 1.125;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.odoo-navigation-range-actions {
	display: flex;
	align-items: center;
	min-height: 48px;
}

.odoo-navigation-range-label {
	margin: 0 32px 0 24px;
}

.odoo-navigation, .odoo-navigation-page-size .mat-select-trigger {
	color: rgba(0,0,0,.54);
}

.odoo-navigation-page-size-label, .odoo-navigation-range-label {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 12px;
}

.odoo-navigation-icon {
	width: 28px;
	fill: currentColor;
}

.odoo-navigation-navigation-previous, .odoo-navigation-navigation-next {
	padding: 0;
	min-width: 0;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	line-height: 40px;
	font-size: 14px;
    color: #757575;
    display: flex;
    justify-content: center;
	align-items: center;
	background: transparent;
    border: none;
}

.custom-select {
	border-radius: 0;
	border-top: none;
	border-right: none;
    border-left: none;
    height: auto;
    padding: 0rem 1.75rem 0rem 0.75rem;
    color: rgba(0,0,0,.70);
}

.custom-select:focus {
	border-color: #ced4da;
	outline: 0;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0);
}
