.toolbar a.back
{
    display:none;
}

.annotation-options.ContextMenuPopup
{

}
.toobar.topar
{
    top:0;
}

/*.modal.o_technical_modal .modal-dialog {
    width: 98%;
}*/

.modal.o_technical_modal .modal-dialog .modal-content .modal-body {
    overflow: hidden;
}
.o_technical_modal.in .modal-footer
{
    display:none;
}
.modal-title
{
    display:none;
}
