.toolbar a.back
{
    display:none;
}

.annotation-options.ContextMenuPopup
{
    position:fixed;
    margin-top: -90px;
}

.modal.o_technical_modal .modal-dialog .modal-content .modal-body {
    overflow: hidden;
}
.o_technical_modal.in .modal-footer
{
    display:none;
}
.modal-title
{
    display:none;
}
