<div id="folder_view">
    <div id="opened_folder">
        <div class="col-12" id="parent_div">
            <div class="row">
                <div class="col-5"><span>Opened Folder: </span>
                <span id="name"></span> </div>
                <div class="col-6"><span class="float-right" id="action"></span> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <h6>Sub folders</h6>
            </div>
        </div>

        <ul id="ul_sub_folders">
        </ul>

    </div>    
    <button id="btn_open_parent">
        Back
    </button>
</div>
