<app-breadcrumb app="meetings" model="committee" 
*ngIf="committee" rid="{{committee.id}}" edit="1" delete="1" 
routes='[{"title":"Committees", "link":"/committees"}]'
title="{{committee.name}}"></app-breadcrumb>
<div class="router-outlet">
    <div  class="cards container">
        <div class="page-links">
            <span class="prev next-prev-link" title="Privious">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="next next-prev-link" title="Next">
                <i class="fa fa-angle-right"></i>
            </span>
        </div>

        <div class="container">
            <div *ngIf="committee" class="deatils-form">
				<div class="row">
                    <div class="col-lg-12">
                        <div class="MainTitleHeadWrap">
                            <div class="HeadingWrap">
                                <img src="static/assets/images/committees.png" alt="" /> {{committee.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                        <div class="col-sm-4" style="border-right: 1px solid #cccccc;">
                            <label cl>
                          <b>Charter</b>
                            </label>
                        </div>
                        <div class="col-sm-9 UserProfileDiscription">
                                <span [innerHtml]="committee.description"></span>
                        </div>
                </div> -->

                <div  class="container">
                    <div class="row">
                        <div class="kanban-committees col-xs-12 col-sm-6 col-md-4" *ngFor="let profile of committee.users">
                            <a class="kanban-committees-info-box" routerLink="/{{profile.group}}/{{profile.id}}">
                                <div class="kanban-profiles-user-img">
                                    <img title="{{profile.name}}" class="img-thumbnail-md" src="{{socketService.server_url}}{{profile.image}}">
                                </div>
                                <div class="kanban-profiles-user-info">
                                    <div class="kanban-profiles-user-InfoLIST">
                                            {{profile.name}}
                                    </div>
                                    <div *ngIf="profile.company" class="kanban-profiles-user-InfoLIST">
                                        <i class="fas fa-users"></i> {{profile.company}}
                                    </div>
                                    <div *ngIf="profile.mobile_phone" class="kanban-profiles-user-InfoLIST">
                                        <i class="fas fa-phone"></i> {{profile.mobile_phone}}
                                    </div>
                                    <div *ngIf="profile.email" class="kanban-profiles-user-InfoLIST">
                                        <i class="fas fa-envelope"></i> {{profile.email}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <span title="Next" *ngIf="next" style="font-size: 72px; color: black;" routerLink="/committees/{{next}}">
            <i class="fa fa-angle-right"></i>
        </span> 
        <span title="Previous" *ngIf="prev" style="font-size: 72px; color: black;" routerLink="/committees/{{prev}}">
            <i class="fa fa-angle-left"></i>
        </span> -->
    </div>
</div>
