
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

body{
    font-family: 'Roboto Condensed', sans-serif !important;
    --toggle-left-menu-bg:#fe8a71;
    --toggle-menu-color:#757575; 
    --menu-color-text: #ffffff;
    --menu-icon-color:#ffffff;
    --header-bg-color:linear-gradient(to bottom,#e6e6ea,#e6e6ea);
    --header-icon-color:rgba(0, 0, 0, 0.2);
    
	--color-main-bg: #24262d;
    --button-bg: #132f6e;
    --DocIcon-bg:#9c4784;
}

body.green{
    --toggle-left-menu-bg:#28a745;
    --toggle-menu-color:#ffffff; 
    --menu-color-text: #ffffff;
    --menu-icon-color:#ffffff;
    --header-bg-color: linear-gradient(to right, #28a745, #2a9eb0) ;
    --header-icon-color:rgba(0, 0, 0, 0.2);
    
	--color-main-bg: #24262d;
    --button-bg: #132f6e;
    --DocIcon-bg:#28a745;
    
}
body.green .home{ background: rgb(206, 255, 245); }
  body.white {
    --toggle-left-menu-bg:#ffffff;
    --toggle-menu-color:#333333; 
    --menu-color-text: #333333;
    --menu-icon-color:#333333;
    --header-bg-color: linear-gradient(to right, #ffffff, #ffffff) ;
    --header-icon-color:rgba(0, 0, 0, 0.2);
    
	--color-main-bg: #24262d;
    --button-bg: #132f6e;
    --DocIcon-bg:#333333;
}
  body.white .MainHeader.navbar .navbar-nav h3{
    color: #333333 !important;
}
body.white .header-fixed{
    border-bottom: 1px solid #dddddd;
}
  body.blue {
    --toggle-left-menu-bg:#2930b4;
    --toggle-menu-color:#ffffff; 
    --menu-color-text: #ffffff;
    --menu-icon-color:#ffffff;
    --header-bg-color:  linear-gradient(to right, #2930b4, #2a9eb0);
    --header-icon-color:rgba(0, 0, 0, 0.2);
    
	--color-main-bg: #24262d;
    --button-bg: #132f6e;
    --DocIcon-bg:#2930b4;
  }
body.light{
    --toggle-left-menu-bg:#E9B067;
    --toggle-menu-color:#ffffff; 
    --menu-color-text: #ffffff;
    --menu-icon-color:#ffffff;
    --header-bg-color:  linear-gradient(to right, #E9B067, #E9B067);
    --header-icon-color:rgba(0, 0, 0, 0.2);
    
	--color-main-bg: #24262d;
    --button-bg: #132f6e;
    --DocIcon-bg:#E9B067;
  }
body.light .home{ background: rgba(233, 176, 103, 0.61); }

  body.orange {
        --toggle-left-menu-bg:#FF766E;
        --toggle-menu-color:#ffffff; 
        --menu-color-text: #ffffff;
        --menu-icon-color:#ffffff;
        --header-bg-color: linear-gradient(to right, #FF766E, #FF766E) ;
        --header-icon-color:rgba(0, 0, 0, 0.2);
        
        --color-main-bg: #24262d;
        --button-bg: #132f6e;
        --DocIcon-bg:#FF766E;
    }

    body.red {
        --toggle-left-menu-bg:#d00000;
        --toggle-menu-color:#ffffff; 
        --menu-color-text: #ffffff;
        --menu-icon-color:#ffffff;
        --header-bg-color: linear-gradient(to right, #d00000, #e60000) ;
        --header-icon-color:rgba(0, 0, 0, 0.2);
        
        --color-main-bg: #24262d;
        --button-bg: #132f6e;
        --DocIcon-bg:#d00000;
    }
  
#switcher {
    display: none !important;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    position: fixed;
    bottom: 1%;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
  }
  #switcher li {
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border: 3px solid black;
  }

  #greenButton {
    background: #28a745;
  }
  #whiteButton {
    background: white;
  }
  #blueButton {
    background: blue;
  }
  #orangeButton {
    background: #FF766E;
  }
  #lightButton{
      background: #E9B067;
  }
  #redButton{
    background: #ff5733;
}
.navbarNavDropdown{
    background-color: var(--toggle-left-menu-bg);
}
:focus {
    box-shadow: none;
    outline: none;
}

body {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 13.5px;
    line-height: 1.42857143;
    color: #666666;
}

pre,
code,
kbd,
samp {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body.lightblue {
    background: #edf2f6;
}

body.hidden {
    overflow: hidden;
}

h5 {
    font-size: 0.859rem;
}

mg {
    max-width: 100%;
}

.mr-b20 {
    margin-bottom: 20px;
}


/* Color Them */

.MainHeader.navbar .navbar-nav h3 {
    color: #ffffff;
}

.MainHeader.navbar .navbar-nav a,
.dropdown-menu-list a.nav-sub-link {
    color: var(--menu-color-text);
}

.MainHeader.navbar .navbar-nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.MainHeader.navbar .navbar-nav a i,
.dropdown-menu-list a.nav-sub-link i {
    color: var(--menu-icon-color);
}

.hidemouseaway {
    z-index: 9010;
}


/* Fixed version of the header */

body.fixed .header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
}

.breadcrumb {
    font-size: 1.5rem;
    font-weight: bold;
}


/* You can add global styles to this file, and also import other style files */


/* AppComponent's private CSS styles */

a:hover {
    text-decoration: none;
}

b {
    font-weight: 500;
}

.notification-icon span {
    padding: 2px 4px;
    background: #dc3545;
    position: absolute;
    border-radius: 3px;
    top: 15px;
    left: 30px;
    text-align: right;
    z-index: 200;
}

.DocsBtn {
    min-width: 85px;
    margin: 2px;
}

.un-read-msg {
    background: #dc3545;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: -2px;
    z-index: 200;
}

button,
a,
.DocumentWrapper {
    cursor: pointer;
}

.fade.in {
    opacity: 1;
}

.modal-backdrop.fade {
    opacity: .5;
}

#main-div .img-thumbnail-lg {
    width: 130px;
    height: 135px;
}

#main-div .img-thumbnail-sm {
    width: 28px;
    height: 28px;
}

#main-div .img-thumbnail-md {
    width: 55px;
    height: 60px;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.modal-body {
    min-height: auto !important;
}

.navbar-collapse.show .main-nav {
    width: 100%;
    overflow-y: auto;
}


/*Homepage Welcome Content setting*/

div#welcome {
    padding: 30px 0;
}

.WelcomeContent h4.HomeTitle {
    margin-bottom: 20px;
}

.WelcomeContent h4.HomeTitle span {
    position: relative;
}

.WelcomeContent h4.HomeTitle span:before {
    border-top: 1px solid #dddddd;
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 100%;
}


/*.WelcomeContent h4.HomeTitle span:after{
    border:1px solid #9c4784;
    content:"";
    position:absolute;
    bottom:-7px;
    right:0px;
    width:30%;
}*/

.HomePageDiscription {
    display: flex;
    justify-content: space-between;
}

div.HomePageDiscription div#home-content p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #888da8;
}

.HomepageDocumentSection {
    background: #f2f6fb;
    padding: 50px 0;
    margin-bottom: 30px;
}

.WelcomeContent {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}


/* Home Page Document Section */

.DocumentSection {
    padding: 0;
}

.docwrappercontainer {
    margin-bottom: 30px;
}

.DocumentWrapper {
    background: #ffffff;
    display: flex;
    min-height: 110px;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #f1eeee;
    padding: 5px 7px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
    margin-left: 12px;
}

.HomepageDocumentSection .DocumentWrapper {
    margin-bottom: 34px;
}

.DocText {
    color: #5e5e5f;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.DocIcon {
    text-align: center;
    position: relative;
    top: 20px;
    left: -20px;
    border-radius: 3px;
    background:var(--DocIcon-bg);
}

.DocIcon i {
    font-size: 50px;
    padding: 25px 15px;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1);
}

.DocumentWrapper:hover .DocIcon i {
    z-index: 2;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.3);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 300ms ease-in;
    transform: scale(1.3);
}


/* Home Page Video Section */

#homevideos {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.HomePageVideoWrapper {
    border-radius: 3px;
    overflow: hidden;
    background: #7c7bad;
    margin-bottom: 25px;
}

.HomePageVideoWrapper p {
    margin: 0;
    padding: 13px 0;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
}

.CalendarWrapper {
    margin: 30px 0;
    padding: 0 2%;
}

.btn-primary {
    color: #ffffff;
    border-color: #7c7bad;
    font-size: 0.875rem;
    background: linear-gradient(to bottom, #7c7bad, #7c7bad);
}

.btn-primary:hover {
    color: white;
    background-color: #5f5e97;
    border-color: #5b5a91;
}

.btn-primary:focus,
.btn-primary.focus {
    color: white;
    background-color: #5f5e97;
    border: none;
    outline: none;
    box-shadow: none;
}

button:focus {
    outline: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #5f5e97;
    border-color: transparent;
    outline: transparent;
    box-shadow: 0px !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #7c7bad;
}

/* #signature_editor {
    width: calc(100vw - 50px);
    height: 198px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 576px) {
    #signature_editor {
        width: 465px;
    }
} */

/* .kbw-signature canvas {
    border: 1px solid #313030;
} */

.gray-bg {
    background: #f3f3f3
}

.jumbotron {
    border-radius: 0;
    position: relative;
}


/* =================
breadcrumb
===================*/

.breadcrumbSection {
    background: #f1f2f4;
    padding: 0.859em 0;
    margin-bottom: 15px;
    margin-top: -20px;
}

.breadcrumbSection .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumbSection .breadcrumb li,
.breadcrumbSection .breadcrumb a {
    font-size: .875rem;
}

.breadcrumbSection .breadcrumb li {
    color: #8c8c8cdb;
    text-transform: capitalize;
}

.talbe-docs-wrapper {
    display: flex;
}

a.kanban-committees-info-box-name {
    background: #dee2e6;
    padding: 3px 15px;
    border-radius: 3px;
}


/*=============================
last-login-details
=============================*/

.last-login-details {
    background: #f8f8f8;
    padding-bottom: 10px;
    /* box-shadow: 1px 1px 119px #00000038; */
}

.last-login-details h3 {
    margin: 10px 0 !important;
    padding: 0;
    color: #313030;
}

.last-login-details span {
    display: block;
    color: #797979;
}

@media (max-width: 767px) {
    h1,
    .h1 {
        font-size: 1rem;
    }
    .navbar-toggler {
        color: #ffffff;
    }
    .HomePageDiscription {
        flex-direction: column;
    }
}

.next-prev-link {
    font-size: 29px;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.loader {
    height: 5px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 50px;
    background-color: #ddd;
}

.fixed .loader {
    top: 50px;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 5px;
    background-color: #9c4784;
    animation: loading 2s linear infinite;
}

.modal {
    z-index: 9999999;
}

.bootbox {
    bottom: unset;
    left: unset;
    top: 70px;
    right: 16px;
    padding-right: 0 !important;
    min-width: 20%;
}

.bootbox .modal-body {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bootbox-alert {
    bottom: inherit;
}

.bootbox .modal-dialog {
    margin: 0;
}

.bootbox .modal-footer {
    padding: 5px;
}

.page-links {
    display: none;
}

.odoo-navigation {
    display: none;
}

.profile-image {
    display: none;
}

#main-div {
    padding-bottom: 100px;
    padding-top: 20px;
}

.schedule-wrap {
    border: 1px solid #dddddd;
    width: auto;
}

.scheduleDetailOpener {
    border-top: 1px solid #dddddd;
    padding: 20px 15px;
    font-size: 0.85rem;
    font-weight: 500;
}

.scheduleDetailOpener:hover {
    background: #f3f3f3;
    cursor: pointer;
}

.scheduleDetailOpener:first-child {
    border-top: none;
}

.scheduleDetailOpener span {
    padding-right: 10px;
}

.kanban-card {
    cursor: pointer;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.kanban-card a {
    height: 100%;
}

.kanban-folder {
    padding: 7px;
    font-weight: 500;
    background: #efefef;
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
}

.kanban-folder span {
    color: #5e5e5f;
    margin-left: 7%;
}

.kanban-profiles {
    width: 260px;
}


/* .kanban-folder a {
    color: #777777;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 400;
} */

.kanban-profiles-user-info-box {
    display: flex;
    background: #f3f3f3;
    border-radius: 3px;
    border: 1px solid #f1eeee;
    padding: 10px 5px 7px;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
}

.kanban-folder i {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    background: #9c4784;
    padding: 5px 8px;
}

.hidemouseaway {
    display: none;
}

#server-wait {
    position: fixed;
    z-index: 9091;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    background: rgba(0, 0, 0);
}

#server-wait img {
    position: relative;
    top: calc(50vh - 22px);
    left: calc(50vw - 22px);
    animation: fa-spin 1s infinite steps(12);
}

.bootbox-close-button.close {
    display: none;
}

.btn-flex-1 button {
    flex: 1;
}

.btn-flex-1 button i {
    font-size: 14px;
    padding-right: 4px;
}

.wrap span i {
    padding-right: 5px;
}

.comments {
    overflow: hidden;
}


/* Responsive */

@media (max-width: 575px) {
    .DocumentWrapper {
        margin-left: 13px;
    }
    .kanban-card {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .kanban-card {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .kanban-card {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

#jitsi-meet-container {
    text-align: center;
    position: relative;
    height: 92vh;
    width: 100%;
}

#meeting-room {
    height: 92.5vh;
    overflow-y: hidden;
    background: silver;
}

#jitsi-meet-container video {
    transform: scaleX(-1);
}

#meeting-room video {
    width: 100%;
}

#audience {
    bottom: 0;
    position: absolute;
    padding-left: 3px;
    width: 100%;
    text-align: left;
    overflow-x: auto;
}

#audience video {
    height: 20vh;
}

#leave-room {
    display: none;
    margin-top: 20px;
}

#setup-buttons {
    z-index: 16;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#backTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
    width: 24px;
}

#backTop:hover {
    background-color: #7c7bad;
}

.overflow-hide {
    overflow: hidden;
}

.modal-header {
    padding: 5px;
}

.modal-footer {
    padding: 5px;
    display: block;
    border: 1px dotted silver;
    text-align: right;
}

.modal-header .close {
    margin: 2px;
    padding: 0;
    width: 30px;
    height: 30px;
}
.del
{
    cursor: pointer;
}

.fc-button-group {
    display: flex;
}

.fc-toolbar button {
    float: none !important;
    border-radius: 3px !important;
    background: #ffffff;
    box-shadow: none;
    margin: 3px !important;
    border: 1px solid #c7c7c7;
    padding: 0px 13px !important;
    text-transform: capitalize;
    color: #616161 !important;
}
.fc-toolbar button:hover{
    background-color: #f1f3f4;
}
th.fc-day-header.fc-widget-header {
    padding: 10px;
}
.fc-year-monthly-name a {
    color: grey !important;
    font-weight: 500 !important;
    margin-bottom: 10px;
    display: block;
}

