div#notebook_page_23 {
   margin: 20px auto;
   background: #ffffff;
   padding: 0 16px;
}

.o_form_view .o_notebook > .tab-content.nav.nav-tabs li > a {
   background: #cacaca;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}

.o_form_view .o_notebook > ul.nav.nav-tabs > li.active > a, .o_form_view .o_notebook > ul.nav.nav-tabs > li.active > a:hover, .o_form_view .o_notebook > ul.nav.nav-tabs > li.active > a:focus, .o_form_view .o_notebook > ul.nav.nav-tabs > li.active > a:active {
   color: #ffffff;
   border-top-color: white;
   background-color: #00a09d;
}

.o_form_view .o_notebook > .tab-content.nav.nav-tabs li.active > a, .o_form_view .o_notebook > .tab-content.nav.nav-tabs li.active > a:hover, .o_form_view .o_notebook > .tab-content.nav.nav-tabs li.active > a:focus {
   background: #eaeaea;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border: none;
   color: #666666;
}
.o_field_widget.o_field_radio.o_vertical {
-ms-flex-flow: column nowrap;
-moz-flex-flow: column nowrap;
-webkit-flex-flow: row;
flex-flow: row;
padding: 0 0 0 5px;
}
.o_field_widget.o_field_radio.o_vertical .o_radio_item {
margin-bottom: 5px;
margin-right: 10px;
}