<app-breadcrumb app="meetings" model="signdocument" 
*ngIf="doc && !is_public"
rid="{{doc.id}}" delete="1" edit="1"
routes='[{"title":"Actions", "link":"/actions"}, {"title":"Esignature", "link":"/actions/signdocs"}]'
title="{{doc.doc_name}}"></app-breadcrumb>
<div class="router-outlet">
    <link rel="stylesheet" href="/static/assets/css/esign.css" />
    <link rel="stylesheet" href="/static/assets/css/esigndocdetails.css" />    
    <div name="id" class="e_sign_doc_id" invisible="1" ></div>
    <div class="sign-position dev_only" ></div>        
    <div id="holder">
        <div class="container-fluid">
            <div class="row doc-container" [ngClass]="{admin: !signature_started && socketService.is_admin}">
                <div id="doc-side-scroll">
                    <div class="PdfButtonWrapper">
                        <div class="PdfVerticalButtonWrapper dragabl-fields">
                            <div class="fields-title">
                                FIELDS
                            </div>
                            <div id="signature-position" signtype="signature" class="drag docselectbtn position_btns sign_psition">
                                <i class="icon-draw-pencil"></i> Signature
                            </div>
                            <div id="initial-position" signtype="initials" class="drag docselectbtn position_btns">
                                <i>Ds</i> Initials
                            </div>
                            <div id="date-position" signtype="date" class="drag docselectbtn position_btns">
                                <i class="icon-calendar-empty"></i> Date
                            </div>
                            <div id="text-position" signtype="name" class="drag docselectbtn position_btns">
                                <i class="icon-user-single"></i> Name
                            </div>
                            <div id="name-position" signtype="email" class="drag docselectbtn position_btns">
                                <i class="fa fa-envelope"></i>  Email
                            </div>
                            <div id="phone-position" signtype="phone" class="drag docselectbtn position_btns">
                                <i class="icon-call-answer"></i> Phone
                            </div>
                            <div id="company-position" signtype="company" class="drag docselectbtn position_btns">
                                <i class="icon-hotel"></i> Company
                            </div>
                        </div>
                        <div class="meetings_div">
                            <!-- <div *ngIf="!signature_started && socketService.is_admin">
                                <input [(ngModel)]="isAdmin" type="checkbox" /> Admin Mode
                            </div> -->
                            <div class="doc-subtitle">Attach to Meeting</div>
                            <select id="dropdown_meeting">
                                <option selected value="">Select Meeting</option>
                                <option *ngFor="let meet of meetings" value="{{meet.id}}">{{meet.name}}</option>
                            </select>
                            <div class="doc-subtitle" class="check_box_send_all">
                                <input id="check_box_send_all" type="checkbox"/>
                                <strong >Send to all attendees:</strong>
                            </div>
                        </div>
        
                        <button id="save-doc-data" class="btn btn-primary save_doc_data">
                            Send
                        </button>
                    </div>
                </div>
                <div class="docWrapperContainer pr-0 pl-0">
                    <div class="top_btns">
                        <div class="PdfTopBtnsWrapper">
                            <div class="btn  btn-sm doc_btn fa fa-chevron-left" id="prev" ></div>
                            <div class="btn  btn-sm doc_btn fa fa-chevron-right" id="next" ></div>
                            <span class="pg_no"> <span style="font-weight: bold;" id="page_num" ></span> / <span id="page_count" ></span></span>
                            <div class="btn btn-sm doc_btn icon-zoom-out" id="zoomOut" title="Zoom Out" ></div>
                            <div class="btn btn-sm doc_btn icon-zoom-in" id="zoomIn" title="Zoom In" ></div>
                            <span style="display: inline-block;" id="scaleSelectContainer">
                                <select data-style="btn-primary" id="scaleSelect" title="Zoom" tabindex="23">
                                    <option title="" value="0.5">50%</option>
                                    <option title="" value="0.75">75%</option>
                                    <option title="" value="1">100%</option>
                                    <option title="" value="1.25">125%</option>
                                    <option title="" value="1.5">150%</option>
                                    <option title="" value="2">200%</option>
                                    <option title="" value="3">300%</option>
                                    <option title="" value="4">400%</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div id="viewer_container" style="position:relative;">
                        <div id="nxxt_sign">START
                            SIGNING</div>

                        <div id="page_container1" style="position:relative;">

                            <div id="page_container" style="text-align: initial;position:relative;display: inline-block;">
                                <canvas id="the-canvas" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="select_user_modal" tabindex="-1" role="dialog" aria-labelledby="SelectUserModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="ng-select-user-list">
                <ng-select
                [items]="users_list"
                [multiple]="false"
                [closeOnSelect]="true"
                [hideSelected]="false"
                [isOpen]="true"
                bindLabel="name"
                [searchable] = "true"
                (change)="setUserSelection()"
                placeholder="Select User"                
                [(ngModel)]="selectedUser"
                >
                </ng-select>
            </div>
        </div>
    </div>
    </div>
</div>