.board-sheet-paginator{
    padding-top: 0;
}
.pagination{
    margin-bottom: .3rem;
}
.paging-meta{
    display: flex;
    justify-content: space-between;    
    align-items: flex-end;
    margin-top: -6px;
}
.page-limit{
    margin-right: 5px;
}
.paging-meta select{
    width: 50px;
    display: inline;    
    margin: 0 5px;
    background-position: right 5px center !important;
    border: 1px solid #ddd;
}
.board-sheet-paginator li.page-item.disabled .page-link{
    background-color: #e6e6e6;
}
.board-sheet-paginator .pagination li.page-item {
    margin: 0 3px;
}
.board-sheet-paginator .pagination-sm .page-link{
	padding:4px 10px;
}
.record-found{
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-end;
}
@media screen and (max-width:420px){
    .board-sheet-paginator .pagination-sm .page-link{
        padding: 0px 5px;
    }
}
