.roster{
    border: 2px solid #f3f3f3;
    margin: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.bg-heading{
    background: #4B74B5;
    color: #fff;
    align-items: center; 
}
.roster-height{
    overflow-y: overlay;
    max-height:calc(100vh - 290px);
    font-size: 13px;
}
.close-btn
{
    width: 100%;
    background-color: #21375a !important;
    color: white;
}
.custom-control-label{
    font-weight: bold;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dddddd; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4B74B5 !important; 
    border-radius: 0px !important;
}
input[type='radio']:after{
    background: #F1F1F1;
    border: 3px solid #F1F1F1;
}
.form-buttons button{
    border-radius: 20px;
    min-width: 70px;
    font-size: 13px;
}
.left-margin{
    margin-left: -20px; 
    align-items: center;
}
.pl-25{
    padding-left: 0.25rem; 
}
.bg-heading label{
    margin-bottom:0;
}
.disabled{
    pointer-events:none;
    background: lightgrey;
}
.custom-control{
    display: flex;
    align-items: center;
}
@media screen and (max-width:992px){
    .display-block{
        display: block !important;
    }
    .form-buttons{
        margin-bottom:10px; 
    }
}
@media screen and (max-width:768px){
    .left-margin{
        margin-left: 0;
    }
}

@media screen and (max-width:576px){
    .custom-control{
        padding-left: 0;
        margin-bottom: 10px;
    }
    .custom-control-label::after,
    .custom-control-label::before{
        top: 1rem;
        left: 0.5rem;
    }
    input[type='radio']:after{
        width: 12px;
        height: 12px;
        top: 0;
        left: 0;
    }
    .pl-25{
        padding-left: 0.75rem; 
    }
    .custom-control-label::before,
    .custom-control-label::after
    {
        top:-0.75rem;
        left: 0.65rem;
    }
    .custom-control-label span{
        position: absolute;
        top: 0.25rem;
    }

}
@media screen and (max-width:380px){
    .bg-heading{
        font-size: 0.7rem;
    }
}
