<link rel="stylesheet" href="/assets/css/components/folder.css">
<div  class="folder_container" style="visibility:hidden">
    <div class="sub cards container">
        <div class="row docwrappercontainer mb-0">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let folder of records">
                <a routerLink="/resource/{{folder.id}}" class="">
                    <div class="DocumentWrapper">
                        <div *ngIf="folder && folder.id &&socketService.admin_mode" class="doc-del-btn"
                        (click)="delete_folder($event, folder.id , folder.total_files)">
                        <i class="far fa-trash-alt pointer" ></i>
                        </div>
                        <div class="DocIcon">
                            <span class="rounded-circle">
                                <i class="icon-folder"></i>
                            </span>
                        </div>                        
                        <div class="DocText" (click)="renameService.prevent_default($event)">
                            <div class="DocName">
                                <div *ngIf="!folder.edit_mode" [ngClass]="{'d-flex justify-content-between align-items-center': socketService.admin_mode}">
                                    <span class="text-truncate resource-info">{{folder.name}} ({{folder.total_files}})</span>
                                    <button *ngIf="socketService.admin_mode" 
                                    (click)="renameService.enable_rename($event, folder)"
                                    class="btn btn-sm btn-primary mr-1">
                                        <i class="fas fa-edit "></i>
                                    </button>
                                    <button *ngIf="socketService.admin_mode" 
                                    (click)="userService.get_access_details(folder,'resources','Folder',parent)" class="btn btn-sm btn-primary">
                                        <i class="fa fa-user-plus"></i>
                                    </button>
                                </div>										
                                <div *ngIf="folder.edit_mode" class="d-flex">
                                    <input class="form-control renamer"                        
                                        (focus)="renameService.renamer_focused($event.target)" 
                                        (blur)="renameService.renamer_focused_out($event,folder,'folder')"
                                        (keyup)="renameService.renamer_focused_out($event,folder,'folder')"												
                                        value="{{folder.name}}"
                                        (change)="renameService.renamer_changed($event.target)">
                                    <button 
                                    class="fri-selt-btn check-time-btn" 
                                    aria-label="rename file.">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>              
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="records && records.length">
            {{records.length}} folders
        </div>
    </div>
</div>