<div class="router-outlet  pt-0">
    <div class="sub search container">        
        <div class="input-group d-flex main-full-seachbar mb-3">
            <input type="text" [(ngModel)]="search_kw1"
                (keyup)="httpService.search_kw = $event.target.value; $event.keyCode == 13 ? get_list(): null"
                placeholder="Search..." class="form-control py-2 border-right-0 border">
            <span class="">
                <button class="btn bg-white border-left-0 border" 
                (click)="httpService.search_kw = search_kw1;get_list();">
                    <i class="fa fa-search text-muted"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="sub cards container">
        <div class="row docwrappercontainer mb-0">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let folder of records">
                <a routerLink="/resource/{{folder.id}}" class="">
                    <div class="DocumentWrapper">
                        <div *ngIf="folder && folder.id &&socketService.is_admin" class="doc-del-btn"
                        (click)="delete_folder($event, folder.id , folder.total_files)">
                        <i class="far fa-trash-alt pointer" ></i>
                        </div>
                        <div class="DocIcon">
                            <span class="rounded-circle">
                                <i class="icon-folder"></i>
                            </span>
                        </div>                        
                        <div class="DocText" (click)="renameService.prevent_default($event)">
                            <div class="DocName">
                                <div *ngIf="!folder.edit_mode" class="d-flex justify-content-between align-items-center">
                                    <span class="text-truncate resource-info">{{folder.name}} ({{folder.total_files}})</span>
                                    <button *ngIf="socketService.admin_mode" 
                                    (click)="renameService.enable_rename($event, folder)"
                                    class="btn btn-sm btn-primary mr-1">
                                        <i class="fas fa-edit "></i>
                                    </button>
                                    <button *ngIf="socketService.admin_mode" 
                                    (click)="userService.get_access_details(folder,'resources','Folder',parent)" class="btn btn-sm btn-primary">
                                        <i class="fa fa-user-plus"></i>
                                    </button>
                                </div>										
                                <div *ngIf="folder.edit_mode" class="d-flex">
                                    <input class="form-control renamer"                        
                                        (focus)="renameService.renamer_focused($event.target)" 
                                        (blur)="renameService.renamer_focused_out($event,folder,'folder')"
                                        (keyup)="renameService.renamer_focused_out($event,folder,'folder')"												
                                        value="{{folder.name}}"
                                        (change)="renameService.renamer_changed($event.target)">
                                    <button 
                                    class="fri-selt-btn check-time-btn" 
                                    aria-label="rename file.">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>              
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <app-paginator *ngIf="records.length" (reload_data)="get_list()">
        </app-paginator>
    </div>

    <div class="sub container" *ngIf="!records.length">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="jumbotron text-center">
                    <h1>There are no folders for now!</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>