import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');*/
body{
    font-size: 0.898rem;
    color: #666666;
    }
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, label, input, textarea, select, .form-row p, form .button {
    font-family: "Roboto-Condensed";
}

#container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:576px){#container{max-width:540px}}
@media (min-width:768px){#container{max-width:720px}}
@media (min-width:992px){#container{max-width:960px}}
@media (min-width:1200px){#container{max-width:1140px}}


#content h1 {
    color: #2B2B2B;
    font-size: 1.666rem;
    border-bottom: 1px solid #E1E1E1;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    padding-bottom: 0.7rem;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus, .vTextField:focus {
    border-color: transparent;
    border: 0;
    outline: 0;
}

 select:focus, .vTextField:focus {
    border-bottom: 1px solid #A2A2A2;
    outline: 0;
}
.form-row{ border:0; padding:0 0 20px; }

.aligned label{
	display: block;
	color: #3059C9;
	font-size: 15px;
	font-weight: 500;
	width:100%;
}

.aligned .form-row input[type="text"], .aligned .form-row input[type="email"]{
	display: block;
	border:0;
	border-radius: 0;
	padding: 0 10px 8px 0px;
	margin: 5px 0 0 0;
	font-size: 0.898rem;
	color: #666666;
	border-bottom: 1px solid #A2A2A2;
	width: 100%;
}

.aligned .form-row textarea, #questions-group  textarea{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
	padding: 0 0 15px;
	margin: 5px 0 0 0;
	font-size: 0.898rem;
	color: #666666;
	border-bottom: 1px solid #A2A2A2;
	height: 60px;
}
.aligned select{
	border:0;
	border-radius: 0;
	padding: 0 10px 8px 0px;
	margin: 5px 0 0 0;
	font-size: 0.898rem;
	color: #666666;
	border-bottom: 1px solid #A2A2A2;
	width: 100% !important;
}


.module h2, .module caption, .inline-group h2{
	color: #2B2B2B;
	font-size: 30px;
	background: transparent;
	border-bottom: 1px solid #dadada;
	margin: 2rem 0px;
	padding: 0 0 1rem;
	line-height: 1;
}

p.datetime {
    display: flex;
    margin: 0 !important;
    align-items: flex-end;
    font-size: 0.898rem;
    color: #666666;
    font-weight: 400;
}

p.datetime input[type="text"].vDateField{
	width:70%;
	margin: 0 1%;
}

p.datetime input[type="text"].vTimeField{
	width:30%;
	margin: 0 1%;
}

.datetime span .date-icon {
    margin-right: 20px;
}
.module caption, .inline-group h2{
	letter-spacing:inherit;
    text-transform: capitalize;
}
