.form-row.field-name
{
    display: none;
}
.form-row.field-attachment
{
    display: none;
}
.fileinput-remove
{
    display: none;
}
.form-row.field-respondents
{
    display: none;
}
/* .form-row.field-binary_data{
    display: none;
} */
.form-row.field-file_name{
    display: none;
}
.aligned p.file-upload{
    margin-left: 0;
}

