<odoo>
    <data>
        <template id="simple_htr_page" name="Simple htr Page">
            <t t-call="website.layout">
                <style>

                    .wrap {
                    padding: 30px;
                    }
                    .wrap .control-label {
                    text-align: left;
                    }
                    #img1,#img2{
                        max-width: 800px;
                    }
                </style>
                <div class="wrap">
                    <h2>OCR</h2>
                    <input id="ocr" type="file"></input><br></br>
                    <img id="img1"></img>
                    <div id="text1"></div>

                    <br></br><br></br>
<h2>ICR</h2>
                    <input id="icr" type="file"></input><br></br>
                    <img id="img2"></img>
                    <div id="text2"></div>






                </div>
                <script src="/simple_htr/static/htr.js"/>
            </t>
        </template>

        <!--Partner Form-->
    </data>
</odoo>